﻿
    <div class="panel panel-default panel-danger">
        <!-- Default panel contents -->
        <div class="panel-heading">IMAGES DEMO</div>

        <ol class="list-group">
           
            {% for (var i=0; i<o.links.length; i++) { %}
  <li class="list-group-item"><a href="#" data-image="{%=o.links[i].image %}" data-obj='{%=JSON.stringify(o.links[i].obj) %}'>{%=o.links[i].name %}</a></li>
           {% } %}



        </ol>
        </div>

