﻿
    <div class="panel panel-default panel-danger">
        <!-- Default panel contents -->
        <div class="panel-heading">DEMO HELPER</div>

        <ol class="list-group">
            <li class="list-group-item"><a href="index_ltr.html" >en</a></li>
            <li class="list-group-item"><a href="index_rtl.html">he</a></li>
            {% for (var i=0; i<o.links.length; i++) { %}
  <li class="list-group-item"><a href="{%=(o.links[i].link)?o.links[i].link:'#page_'+(i+1) %}" id="page_{%=(i+1)%}_link" {%=(o.links[i].obj)?"data-obj="+JSON.stringify(o.links[i].obj)+"":""%}>{%=o.links[i].name %}</a></li>
           {% } %}



        </ol>
        </div>

