﻿$left: $alpha;
$right: $omega;

body{
    direction:$dir;
}


@import "directional-scss/directional";
@import "bootstrap/mixins";
@import "bootstrap/normalize";
@import "parts/elal_variables";
@import "bootstrap/utilities";
@import "parts/mfe-mixins";
@import "parts/mfe-variables";
//@import "parts/globals";
@import "bootstrap/grid";
@import "bootstrap/scaffolding";
@import "bootstrap/type";
@import "bootstrap/forms";
@import "bootstrap/component-animations";
@import "bootstrap/panels";
@import "bootstrap/media";
@import "bootstrap/navs";
@import "bootstrap/buttons";
@import "bootstrap/glyphicons";
@import "bootstrap/button-groups";
@import "bootstrap/carousel";
@import "bootstrap/responsive-utilities";
@import "bootstrap/progress-bars";





@import "parts/elal-navs";
@import "parts/mfe-card";
@import "parts/part-flight-main-slider.scss";
@import "parts/part-new-engine";
@import "parts/part-benefits";
@import "parts/part-sales";
@import "parts/mfe-carousel";
@import "parts/mfe-directional-fix";
@import "parts/cycle-carousel-customize";
@import "parts/header";
@import "parts/footer";
@import "parts/main_blue_top_menu";
@import "parts/mfe_theme-forms";
@import "bootstrap/modals";
@import "parts/mfe-modals";
@import "parts/main_points_banner";
@import "parts/main_sale_banner";
//@import "mfe/mfe-tooltip";

@import "bootstrap/tooltip";
@import "bootstrap/popovers";

@import "parts/otp/otp-home"; 
.container-fluid{
    max-width:$container-large-desktop;
}



