﻿<div class="panel panel-default mfe-card mfe-stage-card mfe-card-flip-box">

    <div class="mfe-card-fliper">
        <div class="mfe-card-front">
            <div class="panel-body">
                <h2 class="h1">{%=o.labels.title%}</h2>
                <ul class="nav   nav-justified nav-pills">
                    <li role="presentation" class="active "><a href="#tab1" id="tab1link" class="btn-sm" aria-controls="tab1" role="tab" data-toggle="tab">{%=o.labels.ButtonEntrancePassword%} </a></li>
                    <li role="presentation"><a href="#tab2" class="btn-sm" id="tab2link" aria-controls="tab2" role="tab" data-toggle="tab">{%=o.labels.ButtonEntranceSMS%} </a></li>
                </ul>
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="tab1">
                        <fieldset>
                            <div class="form-group has-float-label elal-date-end form-group-lg">
                                <input type="text" class="form-control " id="member_number" required placeholder="placeholder" value="">
                                <label for="member_number">{%=o.labels.memberId%}</label>
                                <span class="help-block">{%=o.labels.WrongeDetails%}</span>
                                <button class="mfe-info-popover" data-container="body" data-toggle="popover" data-trigger="hover" data-content="{%=o.labels.popupText%}">?</button>
                            </div>


                            <div class="form-group has-float-label elal-date-end form-group-lg">
                                <input type="password" class="form-control " id="elal-date-end-input" required placeholder="placeholder" value="">
                                <label for="exampleInputEmail1">{%=o.labels.password%}</label>
                                <span class="help-block">{%=o.labels.WrongeDetails%}</span>
                                <button class="mfe-info-popover" data-container="body" data-toggle="popover" data-trigger="hover" data-content="{%=o.labels.popupText%}">?</button>
                            </div>
                            <a href="#" name="op" value="Link 1"> {%=o.labels.forgotPassword%} ></a>
                            <a href="#" name="op" value="Link 1" class="pull-right"> {%=o.labels.forgotMemberId%} ></a>
                        </fieldset>
                        <!--<div class="help-block-stand-alone">
                            {%=o.labels.errorInType%}
                        </div>-->
                        <button type="button" class="btn btn-lg btn-block btn-primary js-mfe-card-flip">
                            {%=o.labels.nextButton%}
                        </button>
                    </div>
                    <div role="tabpanel" class="tab-pane js-mfe-card-tad2" id="tab2">
                        <fieldset>
                            <div class="form-group has-float-label elal-date-end form-group-lg">
                                <input type="text" class="form-control " id="elal-date-end-input" required placeholder="placeholder" value="">
                                <label for="exampleInputEmail1">{%=o.labels.memberId%}</label>
                                <span class="help-block">{%=o.labels.WrongeDetails%}</span>
                                <button class="mfe-info-popover" data-container="body" data-toggle="popover" data-trigger="hover" data-content="{%=o.labels.popupText%}">?</button>
                            </div>
                            <div class="h5">{%=o.labels.myAccountText1%} </div>
                            <div class="" data-toggle="buttons">
     <label class="btn mfe-btn active">
                                    <input type="radio" name="options" id="option3" autocomplete="off">  {%=o.labels.cellPhoneButton%}
                                </label>
                                <label class="btn mfe-btn">
                                    <input type="radio" name="options" id="option2" autocomplete="off"> {%=o.labels.emailButton%}
                                </label>
                           
                            </div>
                            <div class="h5">{%=o.labels.myAccountText2%} </div>
                            <div class="form-group has-float-label elal-date-end form-group-lg">
                                <input type="password" class="form-control " id="elal-date-end-input" required placeholder="placeholder" value="">
                                <label for="exampleInputEmail1">{%=o.labels.phoneNumber%}</label>
                                <span class="help-block">{%=o.labels.WrongeDetails%}</span>
                            </div>
                            <div class="h5">{%=o.labels.myAccountText3%} </div>
                        </fieldset>
                        <button type="button" class="btn btn-lg btn-block btn-primary js-mfe-card-flip">
                            {%=o.labels.getCodeButton%}
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="mfe-card-back">
            <div class="js-mfe-card-back">

            </div>
        </div>
    </div>
</div>