﻿<div class="panel panel-default mfe-card">
    <div class="panel-body">
        <h2 class="h2">כניסה לחשבון שלי 2222</h2>
        <ul class="nav   nav-justified nav-pills">
            <li role="presentation" class="active "><a href="#home" class="btn-sm" aria-controls="home" role="tab" data-toggle="tab">כניסה עם סיסמא קבועה</a></li>
            <li role="presentation"><a href="#profile" class="btn-sm" aria-controls="profile" role="tab" data-toggle="tab">כניסה מהירה באמצעות קוד</a></li>
        </ul>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="home">
                <fieldset>
                    <div class="form-group has-float-label elal-date-end form-group-lg">
                        <input type="text" class="form-control " id="elal-date-end-input" required placeholder="placeholder" value="">
                        <label for="exampleInputEmail1">מספר חבר</label>
                        <span class="help-block">פרטים לא נכונים</span>
                    </div>
                    <div class="form-group has-float-label elal-date-end form-group-lg">
                        <input type="password" class="form-control " id="elal-date-end-input" required placeholder="placeholder" value="">
                        <label for="exampleInputEmail1">סיסמא</label>
                        <span class="help-block">פרטים לא נכונים</span>
                    </div>

                    <a href="#" name="op" value="Link 1"> שכחתי סיסמא ></a>
                    <a href="#" name="op" value="Link 1" class="pull-right">שכחתי מספר חבר ></a>

                </fieldset>

                <div class="help-block-stand-alone">
                    gbvjhsd
                    ashcfgfj
                    hvJH
                    LQCJHGVJKCF
                </div>

                <button type="button" class="btn btn-lg btn-block btn-primary">
                    המשך
                </button>

            </div>
            <div role="tabpanel" class="tab-pane" id="profile">profile</div>
        </div>
    </div>
</div>