﻿<div class="panel panel-default mfe-card mfe-stage-card mfe-card-flip-box">

    <div class="mfe-card-fliper">
        <div class="mfe-card-front">
            <div class="panel-body">
                <h2 class="h1">{%=o.labels.title%}</h2>
           
           
                        <fieldset>
                            
                            <div class="mfe-legend">שכחתי סיסמה</div>
                            <div class="form-group has-float-label elal-date-end form-group-lg">
                                <input type="text" class="form-control " id="elal-date-end-input" required placeholder="placeholder" value="">
                                <label for="exampleInputEmail1">{%=o.labels.memberId%}</label>
                                <span class="help-block">{%=o.labels.WrongeDetails%}</span>
                                <button class="mfe-info-popover" data-container="body" data-toggle="popover" data-trigger="hover" data-content="{%=o.labels.popupText%}">?</button>
                            </div>
                            <div class="h5">{%=o.labels.myAccountText1%} </div>
                            <div class="" data-toggle="buttons">
     <label class="btn mfe-btn active">
                                    <input type="radio" name="options" id="option3" autocomplete="off">  {%=o.labels.cellPhoneButton%}
                                </label>
                                <label class="btn mfe-btn">
                                    <input type="radio" name="options" id="option2" autocomplete="off"> {%=o.labels.emailButton%}
                                </label>
                           
                            </div>
                            <div class="h5">{%=o.labels.myAccountText2%} </div>
                            <div class="row">
<div class="col-xs-8"> <div class="form-group has-float-label  form-group-lg">
                                <input type="text" class="form-control " id="elal-date-end-input" required placeholder="placeholder" value="">
                                <label for="exampleInputEmail1">{%=o.labels.phoneNumber%}</label>
                                <span class="help-block">{%=o.labels.WrongeDetails%}</span>
                            </div>
                            </div>
<div class="col-xs-4">

 <div class="form-group has-float-label  form-group-lg">
                                <input type="text" class="form-control " id="elal-date-end-input" required placeholder="+972" value="+972">
                                <label for="exampleInputEmail1"></label>
                                <span class="help-block">{%=o.labels.WrongeDetails%}</span>
                            </div>

</div>

                            </div>
                           


                            <div class="h5">{%=o.labels.myAccountText3%} </div>
                        </fieldset>
                        <button type="button" class="btn btn-lg btn-block btn-primary js-mfe-card-flip">
                            {%=o.labels.getCodeButton%}
                        </button>
            
                </div>
            </div>
        </div>
        <div class="mfe-card-back">
            <div class="js-mfe-card-back">

            </div>
        </div>
    </div>
</div>