﻿<fieldset>

    <div class="h5">
     
        <div>
            {%=o.labels.titleText[0]%}
          </div>
        <div>
            <strong>
               {%=o.labels.titleText[1]%}
            </strong>
            {%=o.labels.titleText[2]%}
            X
            {%=o.labels.titleText[3]%}
        </div>
    </div>
    <div class="form-group form-group-lg{%=o.formGroup[0].class%}">
        <input type="text" class="form-control " id="fild1" required placeholder="placeholder" value="{%=o.formGroup[0].inputValue%}">
        <label for="fild1"> {%=o.formGroup[0].label%}</label>
        <span class="help-block">{%=o.formGroup[0].helper%}</span>
       {% if (o.formGroup[0].popover){ %}
        <button class="mfe-info-popover" data-container="body" data-toggle="popover" data-trigger="hover" data-content="{%=o.formGroup[0].popover.content%}">?</button>
   {% } %}

    </div>

        <a  class="h5 mfe-link-action{%=o.actionLinks[0].class%}" href="{%=o.actionLinks[0].link%}">
       {%=o.actionLinks[0].text%} </a>

       <div id="error1" class="help-block-stand-alone hidden"> {%=o.errors[0] %}</div>
</fieldset>


<button type="button" class="btn btn-lg btn-block btn-primary js-mfe-card-flip">
  {%=o.button.text%} </a>
</button>