﻿<div class="mfe-card-alert js-mfe-card-flip">
    <div class="mfe-inner-fix">
        <div class="mfe-alert-arrow">

        </div>
        <h2 class="h2 text-center text-primary">כניסה עם מספר חבר</h2>
        <h4 class="h4 text-center">
            ניתן להיכנס עם סיסמא הקבועה
            או לפנות אלינו בכל שאלה באתר
            או במוקד השירות בטלפון 03-33333333
        </h4>
    </div>
</div>