﻿<div class="container-fluid">
      <div class="js-mfe-footer-links">
          <div class="mfe-footer-links">
              <div class="container-fluid">
                  <ul class="mfe-footer-links-group">

                      <li class="">
                          <a href="http://elal.com">
                              <span class="mfe-footer-image-span"><img src="imgs/otp/login_services01.png" alt="תאור התמונה"></span>
                              <span class="mfe-footer-link-span">הצטרף לנוסע המתמיד &gt;</span>
                          </a>
                      </li>

                      <li class="">
                          <a href="http://elal.com">
                              <span class="mfe-footer-image-span"><img src="imgs/otp/login_services02.png" alt="תאור התמונה"></span>
                              <span class="mfe-footer-link-span">הטבות חברי מועדון &gt;</span>
                          </a>
                      </li>

                      <li class="">
                          <a href="http://elal.com">
                              <span class="mfe-footer-image-span"><img src="imgs/otp/login_services03.png" alt="תאור התמונה"></span>
                              <span class="mfe-footer-link-span">FLY CARD &gt;</span>
                          </a>
                      </li>

                      <li class="">
                          <a href="http://elal.com">
                              <span class="mfe-footer-image-span"><img src="imgs/otp/login_services04.png" alt="תאור התמונה"></span>
                              <span class="mfe-footer-link-span">מימוש נקודות &gt;</span>
                          </a>
                      </li>

                      <li class="">
                          <a href="http://elal.com">
                              <span class="mfe-footer-image-span"><img src="imgs/otp/login_services05.png" alt="תאור התמונה"></span>
                              <span class="mfe-footer-link-span">צבירת נקודות &gt;</span>
                          </a>
                      </li>

                      <li class="">
                          <a href="http://elal.com">
                              <span class="mfe-footer-image-span"><img src="imgs/otp/login_services06.png" alt="תאור התמונה"></span>
                              <span class="mfe-footer-link-span">שותפים &gt;</span>
                          </a>
                      </li>

                  </ul>
              </div>
          </div>
      </div>
  </div>
