﻿<div class="container-fluid">
    <div class="header">
        <div class="headerLogo">
            <a href="#">
                <img src="imgs/matmid_logo.png" alt="">
            </a>
        </div>
        <div class="headerIcon mfe-top-menu-button">
            <a href="#" onClick="toggleMobileMenu(); return false;">
                <img src="imgs/nav-icon.png" alt="">
                <span>תפריט</span>
            </a>
        </div>

        <div class="headerLeft  ">
            <div class="headerLang hidden-xs ">
                <div class="header_toElal"><a href="#">לאתר אל על&nbsp;&gt;</a></div>
                <ul class="textLang_ul">
                    <li><a href="#">EN</a></li>
                    <li><a href="#">HE</a></li>
                </ul>
            </div>
            <div class="headerUpdates hidden-xs">
                <a href="#">הודעות</a><b>|</b>
                <div class="headerUpdates_logout">
                    <div class="loginDetails">שלום, <strong>ישראל ישראלי <b>GL 3689783</b></strong></div>
                    <a href="#">התנתק&nbsp;&gt;</a>
                </div>
            </div>
            <div class="headerSearch"><a href="#" onClick="toggleSearchBar(); return false;">חיפוש</a><div class="headerSearch_toolbar"><input type="text" placeholder="חפש..."><input type="submit" value="חפש"></div></div>
        </div>

        <div class="loginDetails">שלום, <strong>ישראל ישראלי <b>GL 3689783</b></strong></div>

        <div class="headerMenu_box" id="headerMenu_box">
            <div class="headerMenu">

                <!--<div class="mfe-close-blue-menu visible-xs"><a href="#" onclick="toggleMobileMenu(); return false;">x</a></div>-->
                <ul>
                    <li class="headerMenu_li visible-xs visible-sm clearfix ">
                        <div class="mfe-close-blue-menu visible-xs" onclick="toggleMobileMenu(); return false;">

                            <span class="burger-menu"></span>
                            <span class="burger-menu"></span>

                        </div>
                    </li>
                    <li class="headerMenu_li">
                        <a href="#">החשבון שלי</a>
                        <div class="megaMenu">
                            <div class="megaMenu_roBox"><a onMouseOut="closeMegamenu(this, 1, 0);" onMouseOver="megaMenu_keepOpen(this, 1, 0);" href="#">החשבון שלי</a></div>
                            <div onMouseOut="closeMegamenu(this, 2, 0);" onMouseOver="megaMenu_keepOpen(this, 2, 0);" class="megaMenu_frame">
                                <div class="megaMenu_frameColoumn">
                                    <div class="megaMenu_frameSection">
                                        <ul>
                                            <li><a href="#">מצב חשבון</a></li>
                                            <li><a href="#">הפרופיל שלי</a></li>
                                            <li><a href="#">זכאויות</a></li>
                                            <li><a href="#">אירוח בטרקלין</a></li>
                                            <li><a href="#">הנפקת קבלה (היום קוראים לזה פרטי תשלום)</a></li>
                                            <li><a href="#">הזמנת כרטיס חבר/תג מזוודה</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="headerMenu_li">
                        <a href="#">ההזמנות שלי</a>
                        <div class="megaMenu">
                            <div class="megaMenu_roBox"><a onMouseOut="closeMegamenu(this, 1, 1);" onMouseOver="megaMenu_keepOpen(this, 1, 1);" href="#">ההזמנות שלי</a></div>
                            <div onMouseOut="closeMegamenu(this, 2, 1);" onMouseOver="megaMenu_keepOpen(this, 2, 1);" class="megaMenu_frame">
                                <div class="megaMenu_frameColoumn">
                                    <div class="megaMenu_frameSection">
                                        <ul>
                                            <li><a href="#">מצב חשבון</a></li>
                                            <li><a href="#">הפרופיל שלי</a></li>
                                            <li><a href="#">זכאויות</a></li>
                                            <li><a href="#">אירוח בטרקלין</a></li>
                                            <li><a href="#">הנפקת קבלה (היום קוראים לזה פרטי תשלום)</a></li>
                                            <li><a href="#">הזמנת כרטיס חבר/תג מזוודה</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="headerMenu_li">
                        <a href="#">מימוש נקודות</a>
                        <div class="megaMenu">
                            <div class="megaMenu_roBox"><a onMouseOut="closeMegamenu(this, 1, 2);" onMouseOver="megaMenu_keepOpen(this, 1, 2);" href="#">מימוש נקודות</a></div>
                            <div onMouseOut="closeMegamenu(this, 2, 2);" onMouseOver="megaMenu_keepOpen(this, 2, 2);" class="megaMenu_frame">
                                <div class="megaMenu_frameColoumn">
                                    <div class="megaMenu_frameSection">
                                        <ul>
                                            <li><a href="#">מצב חשבון</a></li>
                                            <li><a href="#">הפרופיל שלי</a></li>
                                            <li><a href="#">זכאויות</a></li>
                                            <li><a href="#">אירוח בטרקלין</a></li>
                                            <li><a href="#">הנפקת קבלה (היום קוראים לזה פרטי תשלום)</a></li>
                                            <li><a href="#">הזמנת כרטיס חבר/תג מזוודה</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="headerMenu_li">
                        <a href="#">צבירת נקודות</a>
                        <div class="megaMenu">
                            <div class="megaMenu_roBox"><a onMouseOut="closeMegamenu(this, 1, 3);" onMouseOver="megaMenu_keepOpen(this, 1, 3);" href="#">צבירת נקודות</a></div>
                            <div onMouseOut="closeMegamenu(this, 2, 3);" onMouseOver="megaMenu_keepOpen(this, 2, 3);" class="megaMenu_frame">
                                <div class="megaMenu_frameColoumn">
                                    <div class="megaMenu_frameSection">
                                        <ul>
                                            <li><a href="#">מצב חשבון</a></li>
                                            <li><a href="#">הפרופיל שלי</a></li>
                                            <li><a href="#">זכאויות</a></li>
                                            <li><a href="#">אירוח בטרקלין</a></li>
                                            <li><a href="#">הנפקת קבלה (היום קוראים לזה פרטי תשלום)</a></li>
                                            <li><a href="#">הזמנת כרטיס חבר/תג מזוודה</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="headerMenu_li">
                        <a href="#"><b>FLY CARD</b></a>
                        <div class="megaMenu">
                            <div class="megaMenu_roBox"><a onMouseOut="closeMegamenu(this, 1, 4);" onMouseOver="megaMenu_keepOpen(this, 1, 4);" href="#"><b>FLY CARD</b></a></div>
                            <div onMouseOut="closeMegamenu(this, 2, 4);" onMouseOver="megaMenu_keepOpen(this, 2, 4);" class="megaMenu_frame">
                                <div class="megaMenu_frameColoumn">
                                    <div class="megaMenu_frameSection">
                                        <ul>
                                            <li><a href="#">מצב חשבון</a></li>
                                            <li><a href="#">הפרופיל שלי</a></li>
                                            <li><a href="#">זכאויות</a></li>
                                            <li><a href="#">אירוח בטרקלין</a></li>
                                            <li><a href="#">הנפקת קבלה (היום קוראים לזה פרטי תשלום)</a></li>
                                            <li><a href="#">הזמנת כרטיס חבר/תג מזוודה</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="headerMenu_li language visible-xs">
                        <a href="#" class="active"> HE </a> <span class="separator active">|</span>  <a href="#">EN</a>
                    </li>
                    <li class="headerMenu_li visible-xs">
                        <a href="#"> הודעות </a>
                    </li>
                    <li class="headerMenu_li visible-xs">
                        <a href="#"> התנתק </a>
                    </li>


                </ul>


            </div>
        </div>
    </div>
    </div>