﻿

<div class="mfe-footer-links">
    <div class="container-fluid">
        <ul class="mfe-footer-links-group">
            {% for (var i=0; i< o.items.length; i++) { %}
            <li class="">
                <a href="{%=o.items[i].link%}">
                    <span class="mfe-footer-image-span" ><img src="{%=o.items[i].image%}" alt="{%=o.items[i].imageAlt %}"></span>
                    <span class="mfe-footer-link-span">{%=o.items[i].title%} ></span>
                </a>
            </li>
            {% } %}
        </ul>
    </div>
</div>