﻿<div class="js-mfe-home-banners">
    <div class="mfe-home-banners">
        <div class="row">

            <span>{{bannersArray}}</span>
            <div ng-repeat="banner in bannersArray track by $index">
            <div class="col-xs-12 col-md-5">
                <div class="mfe-card mfe-home-box-card panel panel-default">
                    <div class="media">
                        <div class="media-left">
                            <a class="mfe-home-box-link" href="{{bannersLink}}">
                                <img class="media-object" src="{{bannersImage}}" alt="תאור התמונה">
                            </a>
                        </div>
                        <div class="media-body">
                            <span class="media-heading">{{bannersText}}</span>
                            <a href="{{bannersLink}}">לפרטים נוספים &gt;</a>
                        </div>
                    </div>
                </div>
            </div>

           </div>

        </div>
    </div>
</div>