﻿<div class="js-mfe-home-banners">
                    <div class="mfe-home-banners">
                        <div class="row">

                            <div class="col-xs-12 col-md-8">
                                <div class="mfe-card mfe-home-box-card panel panel-default">
                                    <div class="media">
                                        <div class="media-left">
                                            <a class="mfe-home-box-link" href="http://elal.com">
                                                <img class="media-object" src="http://pipsum.com/120x90.jpg?v=11" alt="תאור התמונה">
                                            </a>
                                        </div>
                                        <div class="media-body">
                                            <span class="media-heading">קולורס מונפרד אדנדום סילקוף, מרגשי ומרגשח. עמחליף ליבם סולגק. בראיט ולחת צורק מונחף, בגורמי מגמש. תרבנך וסתעד לכנו סתשם השמה - לתכי מורגם בורק? לתיג ישבעס.</span>
                                            <a href="http://elal.com">לפרטים נוספים &gt;</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

