﻿<div class="mfe-card-front">
    <div class="panel-body">
        <span style="color:red">{{loginOptions}}</span>

        <h2 class="h1">כניסה לחשבון שלי</h2>
        <ul class="nav nav-justified nav-pills" ng-init="loginOptions = true">
            <li ng-click="loginOptions = true" role="presentation" ng-class="loginOptions == true ? 'active' : ''">
                <a href="#tab1" id="tab1link" class="btn-sm" aria-controls="tab1" role="tab" data-toggle="tab">כניסה עם סיסמא קבועה </a>
            </li>
            <li ng-click="loginOptions = false" role="presentation" ng-class="loginOptions == false ? 'active' : ''">
                <a href="#tab2" class="btn-sm" id="tab2link" aria-controls="tab2" role="tab" data-toggle="tab">כניסה  מהירה באמצעות קוד </a>
            </li>
        </ul>
        <div class="tab-content">
            <div ng-switch="loginOptions">
                <div ng-switch-when="true" role="tabpanel" class="tab-pane active" id="tab1">
                    <fieldset>
                        <div class="form-group has-float-label elal-date-end form-group-lg">
                            <input class="form-control " id="member_number" required="" placeholder="placeholder" value="" type="text">
                            <label for="member_number">מספר חבר</label>
                            <span class="help-block">פרטים לא נכונים</span>
                            <button class="mfe-info-popover" data-container="body" data-toggle="popover" data-trigger="hover" data-content="להאמית קרהש רם שבצק יהול, לכנוץ בעריר גק ליץ, ושבעגט. צש בליא, מנסוטו צמלח לביקו ננבי, צמוקו בלוקריה שיצמה ברורק. קולהע צופעט למרקוח איב דולור סיט אמט," data-original-title="" title="">?</button>
                        </div>

                        <div class="form-group has-float-label elal-date-end form-group-lg">
                            <input class="form-control " id="elal-date-end-input" required="" placeholder="placeholder" value="" type="password">
                            <label for="exampleInputEmail1">סיסמא</label>
                            <span class="help-block">פרטים לא נכונים</span>
                            <button class="mfe-info-popover" data-container="body" data-toggle="popover" data-trigger="hover" data-content="להאמית קרהש רם שבצק יהול, לכנוץ בעריר גק ליץ, ושבעגט. צש בליא, מנסוטו צמלח לביקו ננבי, צמוקו בלוקריה שיצמה ברורק. קולהע צופעט למרקוח איב דולור סיט אמט," data-original-title="" title="">?</button>
                        </div>
                        <a href="#" name="op" value="Link 1"> שכחתי סיסמא &gt;</a>
                        <a href="#" name="op" value="Link 1" class="pull-right"> שכחתי מספר חבר &gt;</a>
                    </fieldset>
                    <div class="help-block-stand-alone">
                        טעות בהקלדה
                    </div>
                    <button type="button" class="btn btn-lg btn-block btn-primary js-mfe-card-flip">
                        המשך
                    </button>
                </div>

                <div ng-switch-when="false" role="tabpanel" class="tab-pane js-mfe-card-tad2" id="tab2">
                    <fieldset>
                        <div class="form-group has-float-label elal-date-end form-group-lg">
                            <input class="form-control " id="elal-date-end-input" required="" placeholder="placeholder" value="" type="text">
                            <label for="exampleInputEmail1">מספר חבר</label>
                            <span class="help-block">פרטים לא נכונים</span>
                            <button class="mfe-info-popover" data-container="body" data-toggle="popover" data-trigger="hover" data-content="להאמית קרהש רם שבצק יהול, לכנוץ בעריר גק ליץ, ושבעגט. צש בליא, מנסוטו צמלח לביקו ננבי, צמוקו בלוקריה שיצמה ברורק. קולהע צופעט למרקוח איב דולור סיט אמט," data-original-title="" title="">?</button>
                        </div>
                        <div class="h5">ברצוני לקבל את קוד האימות באמצעות: </div>
                        <div class="" data-toggle="buttons">
                            <label class="btn mfe-btn active">
                                <input name="options" id="option3" autocomplete="off" type="radio">  נייד
                            </label>
                            <label class="btn mfe-btn">
                                <input name="options" id="option2" autocomplete="off" type="radio"> דואל
                            </label>

                        </div>
                        <div class="h5">הקלד את מספר הנייד שלך כפי שהוגדר בכניסה למועדון: </div>
                        <div class="form-group has-float-label elal-date-end form-group-lg">
                            <input class="form-control " id="elal-date-end-input" required="" placeholder="placeholder" value="" type="password">
                            <label for="exampleInputEmail1">מספר נייד</label>
                            <span class="help-block">פרטים לא נכונים</span>
                        </div>
                        <div class="h5">לאחר מילוי הפרטים ישלח לך קוד לכניסה חד פעמית לאיזור האישי: </div>
                    </fieldset>
                    <button type="button" class="btn btn-lg btn-block btn-primary js-mfe-card-flip">
                        קבלת קוד
                    </button>
                </div>

            </div>
        </div>
    </div>
    </div>