﻿
<div class="mfe-otp-pages">

    <div class="container-fluid">
        <h1 class="mfe-page-title">{%=o.labels.homeTitle%}</h1>
    </div>
    <div class="mfe-stage mfe-stage-otp">
        <div class="mfe-stage-otp-inner">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-12 col-sm-7 col-md-6 col-lg-5">


                        <div class="js-mfe-otp-home-card"></div>


                    </div>
                </div>

                <div class="js-mfe-home-banners">

                </div>

            </div>
        </div>

    </div>
    <div class="container-fluid">
        <div class="js-mfe-footer-links">



        </div>
    </div>
    </div>