﻿

<div class="mfe-home-banners">
    <div class="row">
        {% for (var i=0; i<o.items.length; i++) { %}
        <div class="col-xs-12 {%=(o.items.length>1)?'col-md-5':'col-md-8'  %}">
            <div class="mfe-card mfe-home-box-card panel panel-default">
                <div class="media">
                    <div class="media-left">
                        <a class="mfe-home-box-link" href="{%=o.items[i].link%}">
                            <img class="media-object" src="{%=o.items[i].image%}" alt="{%=o.items[i].imageAlt %}">
                        </a>
                    </div>
                    <div class="media-body">
                        <span class="media-heading">{%=o.items[i].title%}</span>
                        <a href="{%=o.items[i].link%}">{%=o.labels.more%}</a>
                    </div>
                </div>
            </div>
        </div>
        {% } %}
    </div>
</div>