﻿<!DOCTYPE html>
<html>
<head>
    <title>מתמיד</title>
    <meta charset="utf-8" />
    <meta name="theme-color" content="#00003b">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link href="../../css/matmid-site-rtl.css" rel="stylesheet" />
    <script src="../../scripts/angular/angular.min.js"></script>
</head>
<body ng-app="myApp" ng-controller="myCtrl">
    <div ng-include="'templates/otp/header.html'"></div>

    <div class="container-fluid">
        <h1 class="mfe-page-title">מועדון הנוסע המתמיד</h1>
    </div>
    <span ng-init="cardSwitcher = 'front'">{{cardSwitcher}}</span>
    <button ng-click="cardSwitcher = 'front'">כרטיס קדמי</button>
    <button ng-click="cardSwitcher = 'back'">כרטיס אחורי</button>

    <div class="mfe-stage mfe-stage-otp">
        <div class="mfe-stage-otp-inner">
            asolo
            <div class="container-fluid">

                <div class="row">
                    <div class="col-xs-12 col-sm-7 col-md-6 col-lg-5">

                        <div class="js-mfe-otp-home-card">
                            <div class="panel panel-default mfe-card mfe-stage-card mfe-card-flip-box">
                                <div class="mfe-card-fliper">
                                    <div ng-switch="cardSwitcher">
                                        <div ng-switch-when="front">
                                            <div ng-include="'templates/otp/login-box.html'"></div>
                                        </div>
                                        <div ng-switch-when="back">
                                            <div ng-include="'templates/otp/card-back.html'"></div>
                                        </div>
                                    </div>
                                    <div class="mfe-card-back">
                                        <div class="js-mfe-card-back">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div ng-include="'templates/otp/home-banners.html'"></div>
                <div ng-include="'templates/otp/home-2banners.html'"></div>
            </div>
        </div>
    </div>
    <div ng-include="'templates/otp/footer.html'"></div>

</body>
</html>


<script>
  var app = angular.module("myApp", []);

app.controller("myCtrl", function($scope) {
    $scope.bannersArray = [];

    $scope.bannersArray.push({
        bannersLink: 'www.google.com',
        bannersImage: 'imgs/_Flight_schedule.png',
        bannersText: 'hello1'
    });
    $scope.bannersArray.push({
        bannersLink: 'www.walla.com',
        bannersImage: 'imgs/_Flight_schedule.png',
        bannersText: 'hello2'
    });
    $scope.bannersArray.push({
        bannersLink: 'www.wikipedia.com',
        bannersImage: 'imgs/_Flight_schedule.png',
        bannersText: 'hello3'
    });
    $scope.bannersArray.push({
        bannersLink: 'www.altavista.com',
        bannersImage: 'imgs/_Flight_schedule.png',
        bannersText: 'hello4'
    });




});


</script>


