﻿<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link href="../../css/matmid-site-rtl.css" rel="stylesheet"/>
    <meta name="theme-color" content="#999999"/>
    <link href="https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i,900,900i;subset=hebrew"
          rel="stylesheet">
    <script src="../../scripts/jquery-2.2.4.min.js"></script>
    <script src="../../scripts/bootstrap.min.js"></script>
    <script src="../../scripts/angular/angular.min.js"></script>
</head>
<body>
<script>
    $(function () {
        $('[data-toggle="popover"]').popover()
    })
</script>

<div class="container-fluid">
    <div class="header">
        <div class="headerLogo">
            <a href="#">
                <img src="../../imgs/matmid_logo.png" alt="">
            </a>
        </div>
    </div>
</div>
<div class="mfe-stage mfe-stage-otp">
    <div class="mfe-stage-otp-inner">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 col-sm-7 col-md-6 col-lg-6">
                    <div class="panel panel-default mfe-card mfe-stage-card mfe-card-flip-box">

                        <div class="mfe-card-fliper">
                            <div class="mfe-card-front">
                                <div class="panel-body">
                                    <h2 class="h1">כניסה לחשבון שלי</h2>
                                    <ul class="nav   nav-justified nav-pills">

                                        <li role="presentation" class="active ">
                                            <a href="#tab2" class="btn-sm" id="tab2link"
                                               aria-controls="tab2" role="tab" data-toggle="tab">
                                                כניסה עם סיסמה קבועה
                                            </a>
                                        </li>

                                        <li role="presentation">
                                            <a href="#tab1" id="tab1link"
                                               class="btn-sm" aria-controls="tab1"
                                               role="tab" data-toggle="tab">
                                                שלחו לי סיסמה חד פעמית
                                            </a>
                                        </li>

                                    </ul>
                                    <div class="tab-content">
                                        <div role="tabpanel" class="tab-pane" id="tab1">
                                            <fieldset>
                                                <div class="h5">שלחנו לך SMS עם קוד חד פעמי לנייד
                                                </div>


                                                <div class="form-group has-float-label elal-date-end input-with-tooltip form-group-lg">
                                                    <input type="password" class="form-control "
                                                           id="elal-date-end-input"
                                                           required placeholder="" value="">
                                                    <label for="exampleInputEmail1">קוד זיהוי</label>
                                                    <span class="help-block">{%=o.labels.WrongeDetails%}</span>


                                                </div>
                                                <span>לא קיבלתי קוד חד פעמי. </span>
                                                <a href=""> שלחו לי שוב ></a>

                                                <div class="tab-content">
                                                    <div role="tabpanel" class="tab-pane" id="tab-mail">
                                                        <div class="h5">Enter your email address as listed on your
                                                            member account:
                                                        </div>
                                                        <div class="form-group has-float-label elal-date-end form-group-lg">

                                                            <input type="password" class="form-control "
                                                                   id="elal-date-end-input" required="" placeholder=""
                                                                   value="">
                                                            <label for="exampleInputEmail1">Mail address</label>
                                                            <span class="help-block">incorrect details</span>
                                                        </div>
                                                    </div>
                                                    <div role="tabpanel" class="tab-pane active" id="tab-mobile">

                                                    </div>
                                                </div>
                                            </fieldset>
                                            <button type="button"
                                                    class="btn btn-lg btn-block btn-primary js-mfe-card-flip">
                                                המשך
                                            </button>
                                        </div>
                                        <div role="tabpanel" class="tab-pane js-mfe-card-tad2  active" id="tab2">
                                            <fieldset>
                                                <div class="form-group input-with-tooltip has-float-label elal-date-end form-group-lg">
                                                    <input type="text" class="form-control " id="member_number" required
                                                           placeholder="" value="">
                                                    <label for="member_number">מספר חבר</label>
                                                    <span class="help-block">{%=o.labels.WrongeDetails%}</span>
                                                    <button class="mfe-info-popover" data-placement="top"
                                                            data-container="body" data-toggle="popover"
                                                            data-trigger="hover"
                                                            data-content="מספר החבר מופיע על כרטיס החבר או בדוא&quot;ל ההצטרפות שנשלח אליך. על המספר להכיל בין 9-7 ספרות בלבד ">
                                                        ?
                                                    </button>
                                                </div>


                                                <div class="form-group input-with-tooltip has-float-label elal-date-end form-group-lg">
                                                    <input type="password" class="form-control "
                                                           id="elal-date-end-input" required placeholder="" value="">
                                                    <label for="exampleInputEmail1">סיסמה</label>
                                                    <span class="help-block">{%=o.labels.WrongeDetails%}</span>
                                                    <button class="mfe-info-popover" data-placement="top"
                                                            data-container="body" data-toggle="popover"
                                                            data-trigger="hover"
                                                            data-content="יש להקליד את סיסמת הכניסה הקיימת">
                                                        ?
                                                    </button>
                                                    <div id="error1" class="help-block-stand-alone">הקוד שהוקלד שגוי
                                                    </div>

                                                </div>

                                                <span>שכחתי את </span><a href="#" name="op" value="Link 1">מספר החבר שלי</a><span> או את </span><a href=""> הסיסמה לאתר</a>
                                                <!--<a href="#" name="op" value="Link 1" class="pull-right"> שכחתי מספר חבר></a>-->
                                            </fieldset>

                                            <button id="error-click" type="button"
                                                    class="btn btn-lg btn-block btn-primary js-mfe-card-flip">
                                                המשך
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="mfe-card-back">
                                <div class="js-mfe-card-back">

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="mfe-home-banners">
                <div class="row">

                    <div class="col-xs-12 col-md-8">
                        <div class="mfe-card mfe-home-box-card panel panel-default">
                            <div class="media">
                                <div class="media-left">
                                    <a class="mfe-home-box-link" href="http://elal.com">
                                        <img class="media-object" src="../../imgs/flower.jpg" alt="תאור התמונה">
                                    </a>
                                </div>
                                <div class="media-body">
                                    <span class="media-heading">קולורס מונפרד אדנדום סילקוף, מרגשי ומרגשח. עמחליף ליבם סולגק. בראיט ולחת צורק מונחף, בגורמי מגמש. תרבנך וסתעד לכנו סתשם השמה - לתכי מורגם בורק? לתיג ישבעס.</span>
                                    <a href="http://elal.com">לפרטים נוספים &gt;</a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>


            <div class="mfe-home-banners">
                <div class="row">


                    <div ng-repeat="banner in bannersArray track by $index">
                        <div class="col-xs-12 col-md-4">
                            <div class="mfe-card mfe-home-box-card panel panel-default">
                                <div class="media">
                                    <div class="media-left">
                                        <a class="mfe-home-box-link" href="http://elal.com">
                                            <img class="media-object" src="../../imgs/flower.jpg" alt="תאור התמונה">
                                        </a>
                                    </div>
                                    <div class="media-body">
                                        <span class="media-heading">קולורס מונפרד אדנדום סילקוף, מרגשי ומרגשח. עמחליף ליבם סולגק. בראיט ולחת צורק מונחף, בגורמי מגמש. תרבנך וסתעד לכנו סתשם השמה - לתכי מורגם בורק? לתיג ישבעס.</span>
                                        <a href="http://elal.com">לפרטים נוספים &gt;</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-4">
                            <div class="mfe-card mfe-home-box-card panel panel-default">
                                <div class="media">
                                    <div class="media-left">
                                        <a class="mfe-home-box-link" href="http://elal.com">
                                            <img class="media-object" src="../../imgs/flower.jpg" alt="תאור התמונה">
                                        </a>
                                    </div>
                                    <div class="media-body">
                                        <span class="media-heading">קולורס מונפרד אדנדום סילקוף, מרגשי ומרגשח. עמחליף ליבם סולגק. בראיט ולחת צורק מונחף, בגורמי מגמש. תרבנך וסתעד לכנו סתשם השמה - לתכי מורגם בורק? לתיג ישבעס.</span>
                                        <a href="http://elal.com">לפרטים נוספים &gt;</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>


        </div>
    </div>
</div>
</div>
<footer class="container-fluid">
    <div class="js-mfe-footer-links">
        <div class="mfe-footer-links">
            <div class="container-fluid">
                <ul class="mfe-footer-links-group">

                    <li class="">
                        <a href="http://elal.com">
                            <span class="mfe-footer-image-span"><img src="../../imgs/otp/login_services01.png"
                                                                     alt="תאור התמונה"></span>
                            <span class="mfe-footer-link-span">הצטרף לנוסע המתמיד &gt;</span>
                        </a>
                    </li>

                    <li class="">
                        <a href="http://elal.com">
                            <span class="mfe-footer-image-span"><img src="../../imgs/otp/login_services02.png"
                                                                     alt="תאור התמונה"></span>
                            <span class="mfe-footer-link-span">הטבות חברי מועדון &gt;</span>
                        </a>
                    </li>

                    <li class="">
                        <a href="http://elal.com">
                            <span class="mfe-footer-image-span"><img src="../../imgs/otp/login_services03.png"
                                                                     alt="תאור התמונה"></span>
                            <span class="mfe-footer-link-span">FLY CARD &gt;</span>
                        </a>
                    </li>

                    <li class="">
                        <a href="http://elal.com">
                            <span class="mfe-footer-image-span"><img src="../../imgs/otp/login_services04.png"
                                                                     alt="תאור התמונה"></span>
                            <span class="mfe-footer-link-span">מימוש נקודות &gt;</span>
                        </a>
                    </li>

                    <li class="">
                        <a href="http://elal.com">
                            <span class="mfe-footer-image-span"><img src="../../imgs/otp/login_services05.png"
                                                                     alt="תאור התמונה"></span>
                            <span class="mfe-footer-link-span">צבירת נקודות &gt;</span>
                        </a>
                    </li>

                    <li class="">
                        <a href="http://elal.com">
                            <span class="mfe-footer-image-span"><img src="../../imgs/otp/login_services06.png"
                                                                     alt="תאור התמונה"></span>
                            <span class="mfe-footer-link-span">שותפים &gt;</span>
                        </a>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</footer>

</body>
