﻿<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link href="../../css/matmid-site-rtl.css" rel="stylesheet" />
    <meta name="theme-color" content="#999999" />
    <link href="https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i,900,900i;subset=hebrew" rel="stylesheet">
    <script src="../../scripts/jquery-2.2.4.min.js"></script>
    <script src="../../scripts/bootstrap.min.js"></script>
    <script src="../../scripts/angular/angular.min.js"></script>
</head>
<body>
    <script>
        $(function () {
            $('[data-toggle="popover"]').popover()
        })
    </script>

    <div class="container-fluid">
        <div class="header">
            <div class="headerLogo">
                <a href="#">
                    <img src="../../imgs/matmid_logo.png" alt="">
                </a>
            </div>
        </div>
    </div>
    <div class="mfe-stage mfe-stage-otp">
        <div class="mfe-stage-otp-inner">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-12 col-sm-7 col-md-6 col-lg-6">
                        <div class="panel panel-default mfe-card mfe-stage-card mfe-card-flip-box">

                            <div class="mfe-card-fliper">
                                <div class="mfe-card-front">
                                    <div class="panel-body">
                                        <h2 class="h1">שכחתי מספר חבר</h2>

                                        <div class="tab-content">
                                            <div role="tabpanel" class="tab-pane active" id="tab1">
                                                <span><img class="green-v" src="../../imgs/v_icon.png" /><b>מספר החבר שלך במועדון הנוסע המתמיד הוא:</b></span>
                                                <h2 class="member_id">12345678</h2>


                                                <fieldset>
                                                    <span> תוכן תוכן תוכן תוכן תוכן תוכן תוכן תוכן תוכן תוכן תוכן תוכן תוכן תוכן תוכן תוכן תוכן תוכן תוכן תוכן תוכן תוכן תוכן תוכן תוכן תוכן תוכן תוכן תוכן תוכן תוכן תוכן</span>
                                                </fieldset>
                                                <button id="error-click" type="button" class="btn btn-lg btn-block btn-primary js-mfe-card-flip">
                                                    המשך
                                                </button>
                                            </div>
                                            <div role="tabpanel" class="tab-pane js-mfe-card-tad2" id="tab2">
                                                <fieldset>
                                                    <div class="form-group has-float-label elal-date-end form-group-lg">
                                                        <input type="text" class="form-control " id="elal-date-end-input" required placeholder="" value="">
                                                        <label for="exampleInputEmail1">מספר חבר</label>
                                                        <span class="help-block">{%=o.labels.WrongeDetails%}</span>
                                                        <button class="mfe-info-popover" data-placement="top" data-container="body" data-toggle="popover" data-trigger="hover" data-content="תוכן תוכן תוכן תוכן תוכן תוכן תוכן תוכן תוכן תוכן">?</button>
                                                    </div>
                                                    <div class="h5">ברצוני לקבל את קוד האימות באמצעות</div>
                                                    <div class="" data-toggle="buttons">
                                                        <label class="btn mfe-btn active">
                                                            <input type="radio" name="options" id="option3" autocomplete="off"> נייד
                                                        </label>
                                                        <label class="btn mfe-btn">
                                                            <input type="radio" name="options" id="option2" autocomplete="off"> דוא"ל
                                                        </label>
                                                        <div class="h5">הקלד את כתובת המייל שלך כפי שהוגדרה בכניסה למועדון: </div>

                                                        <div class="form-group has-float-label elal-date-end form-group-lg">

                                                            <input type="password" class="form-control " id="elal-date-end-input" required="" placeholder="" value="">

                                                            <label for="exampleInputEmail1">כתובת מייל</label>

                                                            <span class="help-block">פרטים לא נכונים</span>

                                                        </div>
                                                    </div>
                                                    <div class="h5">הקלד את מספר הנייד שלך כפי שהוגדר בכניסה למועדון:</div>
                                                    <div class="form-group has-float-label elal-date-end form-group-lg">
                                                        <input type="password" class="form-control " id="elal-date-end-input" required placeholder="" value="">
                                                        <label for="exampleInputEmail1">מספר נייד</label>
                                                        <span class="help-block">{%=o.labels.WrongeDetails%}</span>
                                                    </div>
                                                    <div class="h5">לאחר מילוי הפרטים ישלח לך קוד לכניסה חד פעמית לאיזור האישי</div>
                                                </fieldset>
                                                <button type="button" class="btn btn-lg btn-block btn-primary js-mfe-card-flip">
                                                    קבלת קוד
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="mfe-card-back">
                                    <div class="js-mfe-card-back">

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    </div>
    <footer class="container-fluid">
        <div class="js-mfe-footer-links">
            <div class="mfe-footer-links">
                <div class="container-fluid">
                    <ul class="mfe-footer-links-group">

                        <li class="">
                            <a href="http://elal.com">
                                <span class="mfe-footer-image-span"><img src="../../imgs/otp/login_services01.png" alt="תאור התמונה"></span>
                                <span class="mfe-footer-link-span">הצטרף לנוסע המתמיד &gt;</span>
                            </a>
                        </li>

                        <li class="">
                            <a href="http://elal.com">
                                <span class="mfe-footer-image-span"><img src="../../imgs/otp/login_services02.png" alt="תאור התמונה"></span>
                                <span class="mfe-footer-link-span">הטבות חברי מועדון &gt;</span>
                            </a>
                        </li>

                        <li class="">
                            <a href="http://elal.com">
                                <span class="mfe-footer-image-span"><img src="../../imgs/otp/login_services03.png" alt="תאור התמונה"></span>
                                <span class="mfe-footer-link-span">FLY CARD &gt;</span>
                            </a>
                        </li>

                        <li class="">
                            <a href="http://elal.com">
                                <span class="mfe-footer-image-span"><img src="../../imgs/otp/login_services04.png" alt="תאור התמונה"></span>
                                <span class="mfe-footer-link-span">מימוש נקודות &gt;</span>
                            </a>
                        </li>

                        <li class="">
                            <a href="http://elal.com">
                                <span class="mfe-footer-image-span"><img src="../../imgs/otp/login_services05.png" alt="תאור התמונה"></span>
                                <span class="mfe-footer-link-span">צבירת נקודות &gt;</span>
                            </a>
                        </li>

                        <li class="">
                            <a href="http://elal.com">
                                <span class="mfe-footer-image-span"><img src="../../imgs/otp/login_services06.png" alt="תאור התמונה"></span>
                                <span class="mfe-footer-link-span">שותפים &gt;</span>
                            </a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </footer>

</body>
