﻿

<div class="container-fluid">

    <!--sale-banner begin-->
    <div id="js_mfe_top-sale-banner" class="mfe-top-sale-banner">
        <div class="mfe-top-sale-banner-image"><img src="imgs/card-image1.png" /></div>
        <div class="mfe-top-sale-banner-titletext">כל הכבוד!!</div>
        <div class="mfe-top-sale-banner-text">מעמדך שודרג לפלטינום ויש לנו<br />המון הטבות עבורך. לצפייה בהטבות</div>
    </div>
    <!--sale-banner end-->
    <!--points-banner begin-->
    <div id="js_mfe_scoreboard" class="top-scoreboard mfe-close-box">
        <div id="js_mfe_scoreboard_btn" class="scoreboard_btn visible-xs visible-sm">
            <div class="mfe-arrow-down"></div>
        </div>

        <div class="row">

            <div class="col-md-3">
                <div class="mfe-box-content">
                    <span class="mfe-box-title">
                        יתרת נקודות
                        <br />בחשבונך
                    </span>
                    <span class="mfe-box-value">2,800</span><span class="mfe-box-label">נקודות</span>
                </div>

            </div>


            <div class="col-md-2 mfe-box-small">
                <div class="mfe-box-content">
                    <span class="mfe-box-title">
                        מעמדך
                    </span>
                    <span class="mfe-box-value  mfe-box-text">מתמיד</span>
                </div>
            </div>

            <div class="col-md-4">
                <div class="mfe-box-content">
                    <span class="mfe-box-title">
                        מספר הנק' שצברת
                    </span>
                    <span class="mfe-box-value">800</span><span class="mfe-box-label">מתוך 7,000 נקודות למעמד הבא </span>
                </div>
            </div>

            <div class="col-md-3">
                <div class="mfe-box-content">
                    <div class="mfe-box-brand">
                        <!--<div id="js_mfe_scoreboard_btn" class="mfe-arrow-down"></div>-->
                        <img src="imgs/FlyCard_logo_1.png" />
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!--points-banner end-->

    <div class="row">
        <div class="col-xs-12 col-sm-7 col-md-8">

            <!--part-flights-main-slider begin-->
            <!--<div class="mfe-flight-next">next</div>
            <div class="mfe-flight-prev">prev</div>-->
            <h3 class="flights-number">4 טיסות מוזמנות:</h3>
            <div class="mfe-flight-group">
                <div class="prevControl mfe-flight-prev" href="#">
                </div>
                <div class="nextControl mfe-flight-next" href="#">
                </div>
                <div class="mfe-flight-list">
                    <div class="panel flights-main-slider">
                        <div class="panel-body">

                            <h2><img src="imgs/home_plane_departure.png">לונדון (LHR), אנגליה</h2>
                            <h3> תל אביב (TLV) ,ישראל | 10.03 | LY118</h3>

                            <div class="mfe-top-gallery-button visible-xs" id="mfe-top-gallery-button">
                                <div class="row">
                                    <div class="col-xs-4 col-sm-4">
                                    </div>
                                    <div class="col-xs-4 col-sm-4">
                                        <button class="btn btn-primary select-flight">בחר טיסה</button>
                                    </div>
                                    <div class="col-xs-4 col-sm-4">
                                    </div>
                                </div>
                            </div>
                            <div class="mfe-top-gallery hidden-xs" id="mfe-top-gallery">
                                <a class="visible-xs mfe-top-link" href="#">
                                    <h4>
                                        <img src="imgs/AboutTheFlight-Arrow.png" />
                                        על הטיסה
                                    </h4>
                                </a>
                                <div class="row">
                                    <div class="col-xs-6 col-sm-3">
                                        <div class="mfe-info-block">

                                            <div class="mfe-seat-header">מושב</div>
                                            <div class="mfe-seat-number"><b>H34</b></div>
                                            <div class="mfe-seat-type">מחלקת תיירים פלוס</div>
                                        </div>
                                        <button class="btn btn-primary">עדכון מושב </button>
                                    </div>
                                    <div class="col-xs-6 col-sm-3">
                                        <div class="mfe-info-block">
                                            <div class="mfe-meal-header">סוג ארוחה  </div>
                                            <div class="mfe-meal-type">ארוחה צמחונית טבעונית ללא גלוטן</div>
                                        </div>
                                        <button class="btn btn-primary">עדכון ארוחה </button>
                                    </div>
                                    <div class="col-xs-6 col-sm-3">
                                        <div class="mfe-info-block">
                                            <div class="mfe-seat-header"> </div>
                                            <div class="mfe-seat-number"> </div>
                                            <div class="mfe-seat-type"> </div>
                                        </div>
                                        <button class="btn btn-primary">עדכון פרטי טיסה</button>
                                    </div>
                                    <div class="col-xs-6 col-sm-3 ">
                                        <div class="mfe-info-block">
                                            <div class="mfe-seat-header"> </div>
                                            <div class="mfe-seat-number"> </div>
                                            <div class="mfe-seat-type"> </div>
                                        </div>
                                        <button class="btn btn-primary">אקספרס צ'ק אין</button>
                                    </div>
                                </div>
                                <div class="list-group">
                                    <a href="#" class="list-group-item active">
                                        <h4 class="list-group-item-heading">
                                            <img src="imgs/error_alert1.png" />  שינויים שבוצעו בהזמנת טיסה / ארוחה / מושב, יעודכנו בחשבונך תוך 42 שעות מביצוע ההזמנה
                                        </h4>
                                    </a>
                                    <a href="#" class="list-group-item">
                                        <h5 class="list-group-item-heading">עבור טיסה זו תצבור 35 נקודות, עם מחזיקי כרטיס FLY CARD צוברים 40 נקודות עבור אותה הטיסה בדיוק. </h5>
                                        <span class="badge">
                                            הצטרפות
                                            <img src="imgs/right_round_arrow.png" />
                                        </span>
                                    </a>

                                    <a href="#" class="list-group-item">
                                        <h5 class="list-group-item-heading">#374 מיקומך ברשימת השידרוגים</h5>
                                        <span class="badge">
                                            לצפייה ברשימה
                                            <img src="imgs/right_round_arrow.png" />
                                        </span>
                                    </a>

                                </div>
                                <h4 class="panel-title">
                                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne" class="">
                                        + פעולות נוספות
                                    </a>
                                </h4>
                                <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne">
                                    <div class="row">
                                        <div class="col-xs-6 col-sm-3">
                                            <button class="btn btn-primary">שינוי/ביטול הזמנה</button>
                                        </div>
                                        <div class="col-xs-6 col-sm-3">
                                            <button class="btn btn-primary">הנפקת חשבונית</button>
                                        </div>
                                        <div class="col-xs-6 col-sm-3">
                                            <button class="btn btn-primary">שדרוג טיסה</button>
                                        </div>
                                        <div class="col-xs-6 col-sm-3">
                                            <button class="btn btn-primary">שדרוג כבודה</button>
                                        </div>

                                        <div class="col-xs-6 col-sm-3">
                                            <button class="btn btn-primary">מנוי תיירים פלוס</button>
                                        </div>
                                        <div class="col-xs-6 col-sm-3">
                                            <button class="btn btn-primary">דיוטי פרי Fly&Buy</button>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel flights-main-slider">
                        <div class="panel-body">

                            <h2><img src="imgs/home_plane_departure.png">סנט פטסבורג (LED), רוסיה</h2>
                            <h3> תל אביב (TLV) ,ישראל | 10.03 | LY236</h3>

                            <div class="mfe-top-gallery-button visible-xs" id="mfe-top-gallery-button">
                                <div class="row">
                                    <div class="col-xs-4 col-sm-4">
                                    </div>
                                    <div class="col-xs-4 col-sm-4">
                                        <button class="btn btn-primary select-flight">בחר טיסה</button>
                                    </div>
                                    <div class="col-xs-4 col-sm-4">
                                    </div>
                                </div>
                            </div>
                            <div class="mfe-top-gallery hidden-xs" id="mfe-top-gallery">
                                <a class="visible-xs mfe-top-link" href="#">
                                    <h4>
                                        <img src="imgs/AboutTheFlight-Arrow.png" />
                                        על הטיסה
                                    </h4>
                                </a>
                                <div class="row">
                                    <div class="col-xs-6 col-sm-3">
                                        <div class="mfe-info-block">

                                            <div class="mfe-seat-header">מושב</div>
                                            <div class="mfe-seat-number"><b>H34</b></div>
                                            <div class="mfe-seat-type">מחלקת תיירים פלוס</div>
                                        </div>
                                        <button class="btn btn-primary">עדכון מושב </button>
                                    </div>
                                    <div class="col-xs-6 col-sm-3">
                                        <div class="mfe-info-block">
                                            <div class="mfe-meal-header">סוג ארוחה  </div>
                                            <div class="mfe-meal-type">ארוחה צמחונית טבעונית ללא גלוטן</div>
                                        </div>
                                        <button class="btn btn-primary">עדכון ארוחה </button>
                                    </div>
                                    <div class="col-xs-6 col-sm-3">
                                        <div class="mfe-info-block">
                                            <div class="mfe-seat-header"> </div>
                                            <div class="mfe-seat-number"> </div>
                                            <div class="mfe-seat-type"> </div>
                                        </div>
                                        <button class="btn btn-primary">עדכון פרטי טיסה</button>
                                    </div>
                                    <div class="col-xs-6 col-sm-3 ">
                                        <div class="mfe-info-block">
                                            <div class="mfe-seat-header"> </div>
                                            <div class="mfe-seat-number"> </div>
                                            <div class="mfe-seat-type"> </div>
                                        </div>
                                        <button class="btn btn-primary">אקספרס צ'ק אין</button>
                                    </div>
                                </div>
                                <div class="list-group">
                                    <a href="#" class="list-group-item active">
                                        <h4 class="list-group-item-heading">
                                            <img src="imgs/error_alert1.png" />  שינויים שבוצעו בהזמנת טיסה / ארוחה / מושב, יעודכנו בחשבונך תוך 42 שעות מביצוע ההזמנה
                                        </h4>
                                    </a>
                                    <a href="#" class="list-group-item">
                                        <h5 class="list-group-item-heading">עבור טיסה זו תצבור 35 נקודות, עם מחזיקי כרטיס FLY CARD צוברים 40 נקודות עבור אותה הטיסה בדיוק. </h5>
                                        <span class="badge">
                                            הצטרפות
                                            <img src="imgs/right_round_arrow.png" />
                                        </span>
                                    </a>

                                    <a href="#" class="list-group-item">
                                        <h5 class="list-group-item-heading">#374 מיקומך ברשימת השידרוגים</h5>
                                        <span class="badge">
                                            לצפייה ברשימה
                                            <img src="imgs/right_round_arrow.png" />
                                        </span>
                                    </a>

                                </div>
                                <h4 class="panel-title">
                                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="true" aria-controls="collapseOne" class="">
                                        + פעולות נוספות
                                    </a>
                                </h4>
                                <div id="collapse2" class="collapse" role="tabpanel" aria-labelledby="heading2">
                                    <div class="row">
                                        <div class="col-xs-6 col-sm-3">
                                            <button class="btn btn-primary">שינוי/ביטול הזמנה</button>
                                        </div>
                                        <div class="col-xs-6 col-sm-3">
                                            <button class="btn btn-primary">הנפקת חשבונית</button>
                                        </div>
                                        <div class="col-xs-6 col-sm-3">
                                            <button class="btn btn-primary">שדרוג טיסה</button>
                                        </div>
                                        <div class="col-xs-6 col-sm-3">
                                            <button class="btn btn-primary">שדרוג כבודה</button>
                                        </div>

                                        <div class="col-xs-6 col-sm-3">
                                            <button class="btn btn-primary">מנוי תיירים פלוס</button>
                                        </div>
                                        <div class="col-xs-6 col-sm-3">
                                            <button class="btn btn-primary">דיוטי פרי Fly&Buy</button>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--part-flights-main-slider end-->
        </div>
        <div class="col-xs-12 col-sm-5 col-md-4 pull-right">

            <!--new-engine-part begin-->
            <h3 class="new-reservation">הזמנה חדשה:</h3>
            <div class="panel panel-default matmid_new_engine">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs nav-justified" role="tablist">
                    <li role="presentation" class="active">
                        <a href="#home" aria-controls="home" role="tab" data-toggle="tab" class="active mfe-tab-flights">
                            <img src="" />
                            <span>הזמנת טיסה</span>
                        </a>
                    </li>
                    <li role="presentation">
                        <a href="#profile" aria-controls="profile" role="tab" data-toggle="tab" class="mfe-tab-hotels">
                            <img src="" />
                            <span>הזמנת מלון</span>
                        </a>
                    </li>
                </ul>
                <div class="panel-body">
                    <!-- Tab panes -->

                    <div class="tab-content">

                        <div role="tabpanel" class="tab-pane matmidOrderFlightEngine active" id="home">
                            <div class="row">
                                <div class="col-xs-6">
                                    <div class="form-group has-float-label  form-group-lg">
                                        <select class="form-control input-lg matmidCombo" id="matmidCombo">
                                            <option value="0" selected="selected">בנקודות (בונוס)</option>
                                            <option value="1">בכסף</option>
                                            <option value="2">MIX  בכסף ונקודות</option>
                                        </select>
                                        <label for="matmidCombo">סוג טיסה</label>
                                    </div>
                                </div>

                                <div class="col-xs-6">
                                    <div class="form-group has-float-label  form-group-lg">
                                        <select class="form-control input-lg journeyType" id="flightTicket">
                                            <option value="0">כיוון אחד</option>
                                            <option value="1" selected="selected">הלוך חזור</option>
                                            <option value="2">חזרה מיעד אחר</option>
                                        </select>
                                        <label for="flightTicket">סוג:</label>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="form-group has-float-label  form-group-lg">
                                        <input type="text" class="form-control txtFrom ui-autocomplete-input" id="flightFrom" autocomplete="off">
                                        <label for="flightFrom">מוצא:</label>
                                        <span class="help-block">מוצא לא תקין</span>
                                    </div>
                                </div>

                                <div class="col-xs-6">
                                    <div class="form-group has-float-label  form-group-lg">
                                        <input type="text" class="form-control txtTo ui-autocomplete-input" id="flyTo01" placeholder="לאן תרצו לטוס?" autocomplete="off">
                                        <label for="flyTo01">יעד:</label>
                                        <span class="help-block">לא הוזן יעד</span>
                                    </div>
                                </div>
                                <!-------------------------------------------- OTHER RETURN  -------------------------------------------->
                                <!--<div class="col-xs-12 otherReturnContainer" style="">
                                    <div class="col-xs-6">
                                        <div class="form-group has-float-label  form-group-lg">
                                            <input type="text" id="txtReturnFrom" class="form-control txtReturnFrom ui-autocomplete-input" autocomplete="off">
                                            <label for="txtReturnFrom">מוצא:</label>
                                            <span class="help-block">מוצא חזור לא תקין</span>
                                        </div>
                                    </div>
                                    <div class="col-xs-6">
                                        <div class="form-group has-float-label  form-group-lg">
                                            <input type="text" id="txtReturnTo" class="form-control txtReturnTo ui-autocomplete-input" autocomplete="off">
                                            <label for="txtReturnTo">יעד:</label>
                                            <span class="help-block">יעד חזור לא תקין</span>
                                        </div>
                                    </div>
                                </div>-->
                                <!--------------------------------------- OTHER RETURN END  --------------------------------------------->
                                <div class="col-xs-6">
                                    <div class="form-group has-float-label elal-date-start form-group-lg">
                                        <input type="text" class="form-control hasDatepicker" id="dtMatmidFrom">
                                        <label for="dtMatmidFrom"></label>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="form-group has-float-label elal-date-end form-group-lg">
                                        <input type="text" class="form-control dtMatmidTo hasDatepicker" id="dtMatmidTo">
                                        <label for="dtMatmidTo"></label>
                                    </div>
                                </div>
                                <div class="col-xs-6 col-sm-4">
                                    <div class="form-group has-float-label  form-group-lg">
                                        <select class="form-control input-lg" id="flightAdults">
                                            <option value="0">0</option>
                                            <option value="1" selected="selected">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                            <option value="7">7</option>
                                            <option value="8">8</option>
                                            <option value="9">9</option>
                                        </select>
                                        <label for="flightAdults">מבוגרים</label>
                                    </div>
                                </div>
                                <div class="col-xs-6 col-sm-4">
                                    <div class="form-group has-float-label  form-group-lg">
                                        <select class="form-control input-lg" id="flightKids">
                                            <option value="0" selected="selected">0</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                            <option value="7">7</option>
                                            <option value="8">8</option>
                                        </select>
                                        <label for="flightKids">ילדים</label>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-4 togglePassengers">
                                    <div class="form-group has-float-label   form-group-lg elal_type-passengers-button">
                                        <a class="collapsed" data-toggle="collapse" href="#passenger-collapse" aria-expanded="false" aria-controls="passenger-collapse">
                                            <span>סוגי נוסעים<br>נוספים</span><span>הסתר<br>סוגי נוסעים</span>
                                            <img class="" src="imgs/up_round_arrow.png">
                                        </a>
                                    </div>
                                </div>
                                <div class="collapse" style="clear:both" id="passenger-collapse">
                                    <div class="col-xs-4">
                                        <div class="form-group has-float-label  form-group-lg">
                                            <select class="form-control input-lg" id="passengerDetails01">
                                                <option value="0" selected="selected">0</option>
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                            </select>
                                            <label for="passengerDetails01">תינוקות (0-1)</label>
                                        </div>
                                    </div>

                                    <div class="col-xs-4">
                                        <div class="form-group has-float-label  form-group-lg">
                                            <select class="form-control input-lg" id="passengerDetails02">
                                                <option value="0" selected="selected">0</option>
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                            </select>
                                            <label for="passengerDetails02">נוער (12-14)</label>
                                        </div>
                                    </div>

                                    <div class="col-xs-4">
                                        <div class="form-group has-float-label  form-group-lg">
                                            <select class="form-control input-lg" id="passengerDetails03">
                                                <option value="0" selected="selected">0</option>
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                                <option value="6">6</option>
                                                <option value="7">7</option>
                                                <option value="8">8</option>
                                                <option value="9">9</option>
                                            </select>
                                            <label for="passengerDetails03">צעירים (15-27)</label>
                                        </div>
                                    </div>
                                    <div class="col-xs-4 col-sm-4">
                                        <div class="form-group has-float-label  form-group-lg">
                                            <select class="form-control input-lg" id="passengerDetails04">
                                                <option value="0" selected="selected">0</option>
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                                <option value="6">6</option>
                                                <option value="7">7</option>
                                                <option value="8">8</option>
                                                <option value="9">9</option>
                                            </select>
                                            <label for="passengerDetails04">סטודנטים</label>
                                        </div>
                                    </div>
                                    <div class="col-xs-4 col-sm-4">
                                        <div class="form-group has-float-label  form-group-lg">
                                            <select class="form-control input-lg" id="passengerDetails05">
                                                <option selected="selected">0</option>
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4</option>
                                                <option>5</option>
                                                <option>6</option>
                                                <option>7</option>
                                                <option>8</option>
                                                <option>9</option>
                                            </select>
                                            <label for="passengerDetails05">גיל הזהב</label>
                                        </div>
                                    </div>
                                    <div class="col-xs-4 col-sm-4">
                                        <div class="form-group has-float-label  form-group-lg">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12">
                                    <div class="form-group has-float-label  form-group-lg">
                                        <select class="form-control input-lg" id="flightSection">
                                            <option value="Economy" selected="">תיירים</option>
                                            <option value="Business">עסקים</option>
                                            <option value="First">ראשונה</option>
                                        </select>
                                        <label for="exampleInputEmail1">מחלקה</label>
                                    </div>
                                    <div class="help-block-stand-alone returnFromDiffDest" style="display: none;">
                                        יש להקפיד לבחור את ישראל בשתי הטיסות, פעם כיעד ופעם כמוצא
                                    </div>
                                    <div class="help-block-stand-alone noAdultsError" style="display: none;">
                                        בחר/י מספר מבוגרים
                                    </div>
                                    <div class="help-block-stand-alone maxAdultsError" style="display: none;">
                                        כמות הנוסעים שנבחרה חורגת מהכמות המותרת לטיסתך
                                    </div>
                                    <div class="help-block-stand-alone childrenError" style="display: none;">
                                        יש להקפיד לבחור את ישראל בשתי הטיסות, פעם כיעד ופעם כמוצא
                                    </div>
                                    <div class="help-block-stand-alone teenagersError" style="display: none;">
                                        לא ניתן להזמין טיסה  לנוער ללא נוסע בגיר
                                    </div>
                                    <div class="help-block-stand-alone infantsError" style="display: none;">
                                        מספר התינוקות גדול ממספר מבוגרים
                                    </div>
                                    <button type="button" class="btn btn-lg btn-block btn-primary btnSubmit">
                                        חפש
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="profile">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="form-group has-float-label  form-group-lg">
                                        <input type="email" class="form-control" id="flyTo01" required placeholder="לאן תרצו לטוס?">
                                        <label for="flyTo01-label">יעד</label>
                                        <span class="help-block">פרטים לא נכונים</span>
                                    </div>
                                </div>

                                <div class="col-xs-6">
                                    <div class="form-group has-float-label elal-date-start form-group-lg">
                                        <input type="email" class="form-control " id="exampleInputEmail1" required value="01/01/2017">
                                        <label for="exampleInputEmail1">   </label>

                                        <span class="help-block">פרטים לא נכונים</span>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="form-group has-float-label elal-date-end form-group-lg">
                                        <input type="email" class="form-control " id="elal-date-end-input" required value="01/01/2017">
                                        <label for="exampleInputEmail1">   </label>
                                        <span class="help-block">פרטים לא נכונים</span>
                                    </div>
                                </div>

                                <div class="col-xs-6">
                                    <div class="form-group has-float-label has-error form-group-lg">
                                        <select type="email" class="form-control input-lg" id="exampleInputEmail1" required placeholder="Email">
                                            <option>0</option>
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                        </select>
                                        <label for="exampleInputEmail1">מספר חדרים</label>
                                        <span class="help-block">פרטים לא נכונים</span>
                                    </div>
                                </div>

                                <div class="col-xs-6">
                                    <div class="form-group has-float-label  form-group-lg">
                                        <select type="email" class="form-control input-lg" id="exampleInputEmail1" required placeholder="Email">
                                            <option>0</option>
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                        </select>
                                        <label for="exampleInputEmail1">אורחים בחדר</label>
                                    </div>
                                </div>

                                <div class="col-xs-12">
                                    <button type="button" class="btn btn-lg btn-block btn-primary">
                                        חפש
                                    </button>
                                    <div class="help-block-stand-alone">
                                        gbvjhsd
                                        ashcfgfj
                                        hvJH
                                        LQCJHGVJKCF
                                    </div>


                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>

            <!--new-engine-part end-->
        </div>
        <div class="col-xs-12 col-sm-7 col-md-8">

            <!--part-benefits begin-->


            <div class="panel panel-default mfe-card">
                <div class="panel-heading">
                    <h2 class="h4 panel-title">

                        חנות ההטבות שלי
                        <span class="pull-right hidden-sm hidden-md hidden-lg">
                            <span class="mfe-next-caret">

                            </span>
                        </span>
                        <a href="#" class="to-all-benefits pull-right hidden-sm hidden-md hidden-lg">לכל ההטבות</a>

                    </h2>

                </div>
                <div class="panel-body">

                    <div class="benefits-store">
                        <ul>
                            <li>
                                <a href="#">
                                    <div class="benefits-content car ">
                                        <div class="image" style="background: url('imgs/_Car.png') center center no-repeat;">
                                            <!--<img src="imgs/_Car.png" alt="" />-->
                                        </div>

                                        <div class="item-text">רכב</div>
                                    </div>
                                </a>

                            </li>
                            <li class="">

                                <a href="#">
                                    <div class="benefits-content restaurants">
                                        <div class="image" style="background: url('imgs/_Restaurants.png') center center no-repeat;">
                                            <!--<img src="imgs/_Restaurants.png" alt="" />-->
                                        </div>

                                        <div class="item-text">מסעדות</div>
                                    </div>

                                </a>

                            </li>
                            <li class="">

                                <a href="#">
                                    <div class="benefits-content performances">
                                        <div class="image" style="background: url('imgs/_Performances.png') center center no-repeat;">
                                            <!--<img src="imgs/_Performances.png" alt="" />-->
                                        </div>

                                        <div class="item-text">הופעות </div>
                                    </div>
                                </a>

                            </li>
                            <li class="">

                                <a href="#">
                                    <div class="benefits-content leisure">
                                        <div class="image" style="background: url('imgs/_Leisure.png') center center no-repeat;">
                                            <!--<img src="imgs/_Leisure.png" alt="" />-->
                                        </div>

                                        <div class="item-text">פנאי </div>
                                    </div>
                                </a>

                            </li>
                            <li class="">

                                <a href="#">
                                    <div class="benefits-content electronics">
                                        <div class="image" style="background: url('imgs/_Electronics.png') center center no-repeat;">
                                            <!--<img src="imgs/_Electronics.png" alt="" />-->
                                        </div>

                                        <div class="item-text">אלקטרוניקה </div>
                                    </div>
                                </a>

                            </li>
                            <li class="">

                                <a href="#">
                                    <div class="benefits-content arrow_dots">

                                        <div class="item-text">לכל ההטבות </div>
                                    </div>
                                </a>

                            </li>
                        </ul>

                    </div>

                    <div class="mfe-deal hover-off">
                        <div class="mfe-deal-image">
                            <img src="imgs/_Flight_operations_pic1.png" alt="" />
                        </div>
                        <div class="mfe-deal-body-static">
                            <h2>הופעה של הסקורפיונס בלונדון</h2>
                            <p><b>25</b> <span class="dollar-sign dollars">$</span>+<b>75</b><span class="">נק’</span></p>

                        </div>
                    </div>

                </div>
            </div>

            <!--part-benefits end-->
            <!--part-sales begin-->
            <div class="panel panel-default mfe-card mfe-sale-part">

                <div class="panel-heading">
                    <h2 class="h4 panel-title">

                        מבצעי טיסות
                        <span class="pull-right">

                            <a href="#" class="mfe-more-link">
                                לכל המבצעים

                                <span class="mfe-next-caret">

                                </span>
                            </a>
                        </span>

                    </h2>

                </div>
                <div class="panel-body ">

                    <div class="mfe-deal-next"></div>
                    <div class="mfe-deal-prev"></div>
                    <div class="mfe-deal-group">
                        <div class="mfe-deal-list">

                            <div class="mfe-deal-slide">
                                <div class="mfe-deal hover-on">
                                    <div class="mfe-deal-image"><img src="imgs/_Flight_operations_pic1.png" alt="" /></div>
                                    <div class="mfe-deal-body">
                                        <h2>
                                            חוויית Summer School
                                            לגילאי 11-18
                                        </h2>

                                        <p>
                                            אבגדהוז חטיכלמנסע פצקרשת אבגדהוז חטיכלמנסע פצקרשת אבגדהוז חטיכלמנסע פצקרשת אבגדהוז חטיכלמנסע פצקרשת
                                        </p>
                                    </div>
                                </div>

                            </div>
                            <div class="mfe-deal-slide">
                                <div class="mfe-deal hover-on">
                                    <div class="mfe-deal-image"><img src="imgs/_Flight_operations_pic1.png" alt="" /></div>
                                    <div class="mfe-deal-body">
                                        <h2>
                                            חוויית Summer School
                                            לגילאי 11-18

                                        </h2>

                                        <p>
                                            אבגדהוז חטיכלמנסע פצקרשת אבגדהוז חטיכלמנסע פצקרשת אבגדהוז חטיכלמנסע פצקרשת אבגדהוז חטיכלמנסע פצקרשת

                                        </p>
                                    </div>
                                </div>

                            </div>
                            <div class="mfe-deal-slide">
                                <div class="mfe-deal hover-on">
                                    <div class="mfe-deal-image"><img src="imgs/_Flight_operations_pic1.png" alt="" /></div>
                                    <div class="mfe-deal-body">
                                        <h2>
                                            חוויית Summer School
                                            לגילאי 11-18

                                        </h2>

                                        <p>
                                            אבגדהוז חטיכלמנסע פצקרשת אבגדהוז חטיכלמנסע פצקרשת אבגדהוז חטיכלמנסע פצקרשת אבגדהוז חטיכלמנסע פצקרשת

                                        </p>
                                    </div>
                                </div>

                            </div>
                            <div class="mfe-deal-slide">
                                <div class="mfe-deal hover-on">
                                    <div class="mfe-deal-image"><img src="imgs/_Flight_operations_pic1.png" alt="" /></div>
                                    <div class="mfe-deal-body">
                                        <h2>
                                            חוויית Summer School
                                            לגילאי 11-18

                                        </h2>

                                        <p>
                                            אבגדהוז חטיכלמנסע פצקרשת אבגדהוז חטיכלמנסע פצקרשת אבגדהוז חטיכלמנסע פצקרשת אבגדהוז חטיכלמנסע פצקרשת

                                        </p>
                                    </div>
                                </div>

                            </div>
                            <div class="mfe-deal-slide">
                                <div class="mfe-deal hover-on">
                                    <div class="mfe-deal-image"><img src="imgs/_Flight_operations_pic1.png" alt="" /></div>
                                    <div class="mfe-deal-body">
                                        <h2>
                                            חוויית Summer School
                                            לגילאי 11-18

                                        </h2>

                                        <p>
                                            <br />hsdgaguiwe
                                            <br />hhdgjhgvj
                                            <br />ghghghghgh
                                            hjjhjhjhjh
                                        </p>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>

                </div>

            </div>

            <!--part-sales-end-->
            <!--part-news begin-->
            <div class="panel panel-default mfe-card">

                <div class="panel-heading">
                    <h2 class="h4 panel-title">

                        חדשות אל על
                        <span class="pull-right">

                            <a href="#" class="mfe-more-link">
                                לכל החדשות

                                <span class="mfe-next-caret">

                                </span>
                            </a>
                        </span>

                    </h2>

                </div>
                <div class="panel-body">

                    <div class="cycle-slideshow"
                         data-cycle-fx="fade"
                         data-cycle-timeout="2000"
                         data-cycle-slides="> div">

                        <div><a href="#">>אל על גאה להשיק את - UP מותג תעופה חדש בישראל במתכונת טיסות מוזלות מותג תעופה חדש בישראל במתכונת טיסות מוזלות</a></div>
                        <div><a href="#">>אל על גאה להכריז על חתימת הסכם קוד שייר חדש עם חברת התעופה Ethiopian Airlines, המציע מגוון רחב יותר של </a></div>
                        <div><a href="#">אל על גאה להשיק את - UP מותג תעופה חדש בישראל במתכונת טיסות מוזלות</a></div>
                        <div><a href="#">הונג קונג מאגדת בתוכה את אחד השילובים המרתקים ביותר בין מזרח ומערב, ובאפשרותה להציע לכל מטייל סל חוויות מענג. .</a></div>
                    </div>

                </div>

            </div>

            <!--part-news end-->
        </div>
        <div class="col-xs-12 col-sm-5 col-md-4 pull-right">

            <!--part-entitlements begin-->
            <div class="panel panel-default mfe-card">

                <div class="panel-heading">
                    <h2 class="h4 panel-title" data-toggle="collapse" aria-expanded="false" data-target="#card_1" aria-controls="card_1">

                        זכאויות <span class="pull-right">
                            <span class="caret visible-xs"></span>
                        </span>

                    </h2>
                </div>

                <div class="panel-body" id="card_1">
                    <h3 class="h4">לרשותך 2 זכאויות בתוקף</h3>
                    <div class="panel-footer">
                        <span> לצפייה בזכאויות שמגיעות לך</span><img class="" src="imgs/up_round_arrow.png">
                    </div>
                </div>
            </div>
            <!--part-entitlements end-->
            <!--part-calculator begin-->
            <div class="panel panel-default mfe-card calculator-card">

                <div class="panel-heading">
                    <h2 class="h4 panel-title" data-toggle="collapse" aria-expanded="false" data-target="#card_2" aria-controls="card_1">

                        מחשבון יעדים <span class="pull-right">
                            <span class="caret visible-xs">
                            </span>
                        </span>

                    </h2>
                </div>
                <div class="panel-body " id="card_2">
                    <div class="media">
                        <div class="media-body">
                            <h3 class="h4">
                                <span>היי <b>הדר</b>,<br> צברת 2,280 נקודות הנוסע המתמיד בחשבונך</span>
                            </h3>
                        </div>
                        <div class="media-right media-middle">
                            <img src="imgs/ltr/home-island.png" alt="יבשת המזרח הרחוק" />
                        </div>
                    </div>

                </div>

            </div>
            <!--part-calculator-end-->
            <!--part-fly-card begin-->

            <div class="panel panel-default mfe-card fly-card">

                <div class="panel-heading">
                    <h2 class="h4 panel-title" data-toggle="collapse" aria-expanded="false" data-target="#card_3" aria-controls="card_3">

                        FLY CARD <span class="pull-right">
                            <span class="caret visible-xs">
                            </span>
                        </span>

                    </h2>



                </div>
                <div class="panel-body" id="card_3">
                    <h3 class="h4">רק עוד 200 נקודות<br /> ותוכל לשדרג למחלקה ראשונה את הטיסה שלך ללונדון</h3>

                    <div class="media">
                        <div class="media-left">
                            <a href="#">
                                <img class="media-object" src="imgs/FlyCard_small_icon.png" alt="...">

                            </a>
                        </div>
                        <div class="media-body">
                            FLY CARD - כרטיס האשראי <br />
                            של אלעל בשילוב - Diners Club<br />
                            הופך את הקניות שלך לטיסות

                        </div>
                    </div>
                    <div class="panel-footer">
                        <a href="" class="btn btn-lg btn-block btn-primary"><span>הצטרפו עכשיו </span><img class="" src="imgs/up_round_arrow.png"></a>
                    </div>
                </div>

            </div>
            <!--part-fly-card-end-->
            <!--part-common-actions begin-->

            <div class="panel panel-default mfe-card">

                <div class="panel-heading">
                    <h2 class="h4 panel-title" data-toggle="collapse" aria-expanded="false" data-target="#card_4" aria-controls="card_4">

                        פעולות נפוצות <span class="pull-right">
                            <span class="caret visible-xs">
                            </span>
                        </span>

                    </h2>

                </div>
                <div class="panel-body common-actions" id="card_4">
                    <div class="row">
                        <div class="col-xs-6">
                            <ul>
                                <li>
                                    <a href="#">

                                        <div class="action">עדכון פרטים אישיים</div>

                                    </a>
                                </li>
                                <li>
                                    <a href="#">

                                        <div class="action">תרומת נקודות </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">

                                        <div class="action">  הוספת טיסה חסרה </div>

                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-xs-6">
                            <ul>
                                <li>
                                    <a>
                                        <div class="action">צרוף חבר</div>

                                    </a>
                                </li>
                                <li>
                                    <a href="#">

                                        <div class="action">שינוי סיסמה</div>

                                    </a>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>

            </div>

            <!--part-common-actions end-->
        </div>
    </div>
</div>
<script src="scripts/jquery.cycle2.min.js"></script>
<script>
            function getViewport_width() {
                var viewPortWidth;
                if (typeof window.innerWidth != 'undefined') { viewPortWidth = window.innerWidth }
                else if (typeof document.documentElement != 'undefined' && typeof document.documentElement.clientWidth != 'undefined' && document.documentElement.clientWidth != 0) { viewPortWidth = document.documentElement.clientWidth }
                else { viewPortWidth = document.getElementsByTagName('body')[0].clientWidth; }
                return viewPortWidth;
            }
            var dealsSlider = new setupSlider('.mfe-deal-group', '.mfe-deal-list', '.mfe-deal-slide', '.mfe-deal-prev', '.mfe-deal-next');
            $(window).resize(function () { dealsSlider.refreshSlider(); });


            var flightsSlider = new flightsGallery('.mfe-flight-group', '.mfe-flight-list', '.flights-main-slider', '.mfe-flight-prev', '.mfe-flight-next');
            $(window).resize(function () { flightsSlider.refresh_flightsGallery(); });


            $(".select-flight").click(function () {
                var windowWidth = window.outerWidth;
                var mobileWidth = 768;
                if (windowWidth < mobileWidth) {
                    $(".mfe-top-gallery").toggleClass("hidden-xs");
                    $("body").addClass("js-mfe-show-flight");
                }
            });
            $(".mfe-top-link").click(function () {
                $(".mfe-top-gallery").hide();
            });

            function toggleMobileMenu() {
                mobileMenu = document.getElementById('headerMenu_box');
                if ($(mobileMenu).hasClass('headerMenu_box_active')) $(mobileMenu).removeClass('headerMenu_box_active');
                else $(mobileMenu).addClass('headerMenu_box_active');
            }
</script>

<script>
            var btn1 = document.getElementById('js_mfe_scoreboard_btn');
            var sourceBox = document.getElementById('js_mfe_scoreboard');
            btn1.addEventListener("click", function () {
                var boxClass = sourceBox.getAttribute('class');
                var newClass = "top-scoreboard mfe-close-box";
                if (boxClass == newClass) {
                    newClass = "top-scoreboard";
                }
                sourceBox.setAttribute("class", newClass);
            });

</script>