/*
    these are just the default styles used in the Cycle2 demo pages.  
    you can use these styles or any others that you wish.
*/

.carusel-wrapper {
    padding: 0 10px;
    height: auto;
    position: relative;
}


/* set border-box so that percents can be used for width, padding, etc (personal preference) */
.cycle-slideshow, .cycle-slideshow * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


.cycle-slideshow .cycle-slide.cycle-slide-active {
    position: relative;
}





.cycle-slideshow {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    position: relative;
    z-index: 1;
    // background: url(http://malsup.github.com/images/spinner.gif) 50% 50% no-repeat;
}

/* slideshow images (for most of the demos, these are the actual "slides") */
.cycle-slideshow > div {
    /* 
    some of these styles will be set by the plugin (by default) but setting them here
    helps avoid flash-of-unstyled-content
    */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0;
    display: block;
}

/* in case script does not load */
.cycle-slideshow > div:first-child {
    position: static;
    z-index: 100;
}

/* pager */
.cycle-pager {
    text-align: center;
    width: 100%;
    z-index: 500;
    position: absolute;
    top: 10px;
    overflow: visible;
}

.cycle-pager span {
    font-family: Rubik;
    font-size: 50px;
    width: 16px;
    height: 16px;
    display: inline-block;
    color: #ddd;
    cursor: pointer;
}

.cycle-pager span.cycle-pager-active {
    color: #D69746;
}

.cycle-pager > * {
    cursor: pointer;
}


/* caption */
.cycle-caption {
    position: absolute;
    color: white;
    bottom: 15px;
    right: 15px;
    z-index: 700;
}


/* overlay */
.cycle-overlay {
    font-family: tahoma, Rubik;
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 600;
    background: black;
    color: white;
    padding: 15px;
    opacity: .5;
}


/* prev / next links */
.cycle-prev, .cycle-next {
    position: absolute;
    top: 0;
    width: 30%;
    opacity: 0;
    filter: alpha(opacity=0);
    z-index: 800;
    height: 100%;
    cursor: pointer;
}

.cycle-prev {
    left: 0;
    background: url(http://malsup.github.com/images/left.png) 50% 50% no-repeat;
}

.cycle-next {
    right: 0;
    background: url(http://malsup.github.com/images/right.png) 50% 50% no-repeat;
}

.cycle-prev:hover, .cycle-next:hover {
    opacity: .7;
    filter: alpha(opacity=70);
}

.disabled {
    opacity: .5;
    filter: alpha(opacity=50);
}


/* display paused text on top of paused slideshow */
.cycle-paused:after {
    content: 'Paused';
    color: white;
    background: black;
    padding: 10px;
    z-index: 500;
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 10px;
    opacity: .5;
    filter: alpha(opacity=50);
}

/* 
    media queries 
    some style overrides to make things more pleasant on mobile devices
*/




.nextControl {
    &:hover {
        opacity: 0.8;
    }
    /*max-height: 90.9%;*/
    height: 100%;
    background: #d6d6d6;
    #{$left}: 0px;
    cursor: pointer;
    top: 0;

    border-#{$left}: solid 3px #FFF;
    width: 16px;
    background: #00003b url(../imgs/left_home_arrow_1.png) 2px 50% no-repeat;
    box-shadow: none;
    z-index: 9;
    opacity: 1;
    position: absolute;

    &.homeMatmid_flights_disabled {
        background-color: #d6d6d6;
    }

    @if ($dir=="rtl") {
        //  @include transition-transform(0.6s);
        @include rotate(180deg);
    }

    @media (max-width:$grid-float-breakpoint-max) {
        width: 25px;
        /* padding: 0 5px; */
        #{$left}: 5px;
        opacity: 1;
        background: #00003b url(../imgs/left_home_arrow_1.png) 5px 50% no-repeat;
    }
}


.prevControl {
    &:hover {
        opacity: 0.8;
    }

    height: 100%;
    #{$right}: 0px;
    cursor: pointer;
    top: 0;
    border-#{$right}: solid 3px #FFF;
    width: 16px;
    background: #00003b url(../imgs/right_home_arrow_1.png) 2px 50% no-repeat;
    box-shadow: none;
    z-index: 9;
    opacity: 1;
    position: absolute;

    &.homeMatmid_flights_disabled {
        background-color: #d6d6d6;
    }

    @if ($dir=="rtl") {
        //  @include transition-transform(0.6s);
        @include rotate(180deg);
    }

    @media (max-width:$grid-float-breakpoint-max) {
        width: 25px;
        /* padding: 0 5px; */
        #{$right}: 5px;
        opacity: 1;
        background: #00003b url(../imgs/right_home_arrow_1.png) 5px 50% no-repeat;
    }
}
