.footerHolder_home {
    /*padding: 0px 45px;*/
    margin-top: 80px;
}

.footerLogos {
    overflow: hidden;
    border-bottom: 1px solid #eeeeee;
    padding: 35px 0px;
}

.footerLogos ul {
    padding: 0px !important;
    margin: 0px;
    list-style: none;
    
}

.footerLogos ul li {
    display: inline-block;
    height: 48px;
    vertical-align: middle;
    padding: 0px 15.6px;
}
.footerLogos ul li:first-child{
     padding-#{$left}: 0;
}
.footerLogos ul li:last-child {
    padding-#{$right}: 0;
}

.footerLogos ul li a {
    display: block;
    color: #00003b;
    font: normal 15px Rubik;
    text-decoration: none;
    margin-top: 14px;
}

.footerLogos ul li a.footerLogo {
    display: block;
    height: 48px;
    background-position: #{$right} top;
    background-repeat: repeat-y;
    font-size: 1px;
    line-height: 1px;
    text-decoration: none;
    color: white;
    margin-top: 0px;
}

.footerLogos ul li a.footerLogo:hover {
    background-position: left 50px;
}

.footerLogged {
    border-top: 1px solid white;
    background-color: #eeeeee;
}

.footerLogged .centeredContent {
    padding: 0px 45px;
    max-width: 1190px;
}

.footerLoggedTable {
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 110px;
}

.footerRight {
    display: table-cell;
    width: 33.33%;
    text-align: #{$left};
    vertical-align: top;
    padding: 0px 0px 0px 0px;
}

.footerMiddle {
    display: table-cell;
    width: 33.33%;
    text-align: center;
    vertical-align: top;
}

.footerLeft {
    display: table-cell;
    width: 33.33%;
    text-align: #{$right};
    vertical-align: top;
}

.footer_toElal {
    display: none;
}

ul.footerLogged_links {
    padding: 18px 0px 0px 0px;
    margin: 0px;
    list-style: none;
}

ul.footerLogged_links li {
    float: right;
    font: normal 16px Rubik;
    color: #00003b;
}

ul.footerLogged_links li span {
    font-size: 12px;
    display: inline-block;
    padding: 0px 10px;
    vertical-align: middle;
}

ul.footerLogged_links li a {
    color: #00003b;
    text-decoration: none;
    vertical-align: middle;
}

ul.footerSocial {
    padding: 20px 0px 0px 0px;
    margin: 0px;
    list-style: none;
    display: inline-block;
}

ul.footerSocial li {
    display: inline-block;
    padding: 0px 3px;
}

.footerPhone_links {
    font: bold 14px Rubik;
    padding-top: 10px;
}

.footerPhone_links span {
    font-size: 12px;
    display: inline-block;
    height: 20px;
    padding: 0px 10px;
    vertical-align: middle;
}

.footerPhone_links img {
    vertical-align: middle;
    margin-right: 2px;
}

.footerPhone_links a {
    display: inline-block;
    height: 20px;
    color: #00003b;
    text-decoration: none;
    vertical-align: middle;
}

.footerPhone_links a.footerPencil {
    background: url(../imgs/footer_pencil.png) right top no-repeat;
    padding: side-values(1px 0px 2px 22px);
    margin-top: 1px;
}

.footerPhone_links a.footerWrite {
    background: url(../imgs/footer_write.png) right top no-repeat;
    padding: side-values(0px 0px 0px 29px);
    margin-right: 25px;
}

.copyright {
    color: #606060;
    font: normal 14px Rubik;
    padding: 20px 0px 0px 0px;
}

@media screen and (max-width: 1280px) {
    .footerLogos {
        padding: 0px 0px 20px 0px;
    }
}

@media screen and (max-width: 1024px) {
    .footerHolder_home {
        /*padding: 0px 25px;*/
    }

    .footerLogged .centeredContent {
        padding: 0px 25px;
    }

    ul.footerLogged_links li {
        font: normal 14px Rubik;
    }

    ul.footerLogged_links li span {
        padding: 0px 5px;
    }

    .copyright {
        display: inline-block;
        text-align: right;
    }

    .copyright span {
        display: block;
    }
}

@media screen and (max-width: 768px) {
    ul.footerLogged_links li:nth-child(3) {
        clear: right;
    }
}

@media screen and (max-width: 670px) {
    .footerHolder {
        padding: 0px 15px;
        display: none;
    }

    .footerLogged .centeredContent {
        padding: 0px 15px;
    }

    .footerLoggedTable {
        display: block;
        table-layout: auto;
        width: auto;
        height: auto;
    }

    .footerRight {
        display: block;
        width: auto;
        text-align: center;
    }

    .footerMiddle {
        display: block;
        width: auto;
        text-align: center;
    }

    .footerLeft {
        display: block;
        width: auto;
        text-align: center;
    }

    .footer_toElal {
        display: block;
        font: 14px Rubik;
        padding-top: 12px;
    }

    .footer_toElal a {
        color: #00003b;
    }

    ul.footerLogged_links {
        padding: 12px 0px 0px 0px;
        display: inline-block;
        margin: 0px auto;
    }

    ul.footerLogged_links li {
        display: inline;
    }

    ul.footerLogged_links li:nth-child(3) {
        clear: none;
    }

    ul.footerSocial {
        padding: 12px 0px 0px 0px;
    }

    .footerPhone_links {
        padding-top: 10px;
    }

    .copyright {
        padding: 10px 0px 10px 0px;
        display: block;
        text-align: center;
    }

    .copyright span {
        display: inline;
    }
}
