.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-#{$left}: 2px;
    vertical-align: middle;
    border-top: $caret-width-base dashed;
    border-top: $caret-width-base solid \9; // IE8
    border-right: $caret-width-base solid transparent;
    border-left: $caret-width-base solid transparent;
}