 
/*//////////////////    mfe-top-sale-banner     /////////////////*/


/*///hack
* {
    font-family: Rubik;
}

.container {
    padding: 25px;
    margin: 25px;
    margin: 0 auto;
    width: 85%;
}*/


body {
    min-width: 300px;
}

.mfe-top-sale-banner {
    &:hover{
        text-decoration:none;
    }

    * {
        box-sizing: border-box;
    }

display: block;
    text-decoration: none;
    outline: 0;


        direction: $dir; 
        text-align: center;
        background-color: #eeeeee;
        padding: 10px;
        margin: 15px 0;

    &:before {
        content: "";
        display: block;
        width: 80px;
        height: 80px;
        color: $mfe-main-color;
        float: $omega;
        background: url('../imgs/homePageGrey_#{$right}Arrow.png') no-repeat center center;

        @media (max-width:$grid-float-breakpoint-max) {
            display:none;
        }
    }


 > div {
        text-align: $alpha;
        display: inline-block;
        padding: 0 10px;
        line-height: normal;
         

        /*& + div{
                 margin-#{$alpha}:20px;
             }*/
        @media (max-width:$grid-float-breakpoint-max) {
            display: inline-block;
        }

        &.mfe-top-sale-banner-text {
            @media (max-width:$grid-float-breakpoint-max) {
                display: none;
            }
        }
    }

    &-image {
        width: 87px;

        img {
            position: relative;
            top: -20px;

            @media (max-width:$grid-float-breakpoint-max) {
                top: 0px;
            }
        }
    }

    &-titletext {
        font-size: 75px;

        @media (max-width:$grid-float-breakpoint-max) {
            font-size: 42px;
            top: 6px;
            position: relative;
        }

        color: $mfe-main-color;
    }

    &-text {
        @media (max-width:$grid-float-breakpoint-max) {
            font-size: 20px;
        }

        font-size: 30px;
        color: $mfe-main-color;
    }
}
