

.mfe-top-menu-button {
    @media (max-width:$grid-float-breakpoint-max) {
        z-index: 99;
        /*position: absolute;
        left: 0;
        top: 0;*/
        background: #fff;
    }

    a {
        img {
        }
    }
}

.headerMenu_box {
    @media (max-width:$grid-float-breakpoint-max) {
        position: fixed;
        background-color: transparent;
        left: 0;
        top: 0;
        box-shadow: none;

        .mfe-close-blue-menu {
            position: relative;
            /*position: absolute;
            z-index: 99;
            left: 15px;
            top: 0px;*/
            float: #{$right};
            color: #fff;
            margin: side-values(20px 20px 0 0 );
            width: 30px;
            height: 30px;
            cursor:pointer;

            span.burger-menu {
                position: absolute;
                height: 4px;
                width: 30px;
                background: #fff;
                left:0;

                &:first-child {
                    top: 10px;
                    transform: rotate(45deg);
                }

                &:last-child {
                    bottom: 16px;
                    transform: rotate(-45deg);
                }
            }

            a {
                color: #fff;
                text-decoration: none;
                font-size: 32px;
                font-weight: lighter;
            }
        }

        .headerMenu {
            ul {
                background-color: #00003b;
                margin-right: 35%;


                .headerMenu_li {
                    border-top: 0px solid #242646;
                    border-bottom: 0px solid #030417;
                    font-size: 14px;
                    font-weight: lighter;
                    padding-right: 8%;
                    line-height: 49px;

                    &.language {
                        border-top: 1px solid #242646;
                    }

                    span.separator {
                        color: #fff;
                        font-size: 13px;
                        line-height: initial;
                        top: -2px;
                        position: relative;
                        &.active{
                            color: #476481;
                        }
                    }

                    a {
                        display: inline;
                         &.active{
                            color: #476481;
                        }
                    }
                }
            }
        }
    }
}
