

/* ////////////////////////////// top-scoreboard //////////////////////////////// */


.top-scoreboard {
    position: relative;
    border-bottom: 2px solid #dfdfdf;
    margin-bottom: 40px;
    padding: 20px 0;

    @media (max-width:$screen-md-min) {
        .scoreboard_btn {
            position: relative;
            width: 50px;
            height: 50px;
            cursor: pointer;
            float: #{$right};
            z-index: 99;
        }

        .mfe-arrow-down {
            cursor: pointer;
            width: 0;
            height: 0;
            #{$right}: 0;
            bottom: 0;
            position: absolute;
            border-left: 7px solid transparent;
            border-right: 7px solid transparent;
            border-bottom: 0 solid #00003b;
            border-top: 8px solid #00003b;
            /*@media (min-width:$screen-md-min) {
            display: none;
        }*/
        }
    }


    @media (min-width:$screen-md-min) {
        &:before {
            content: "";
            position: absolute;
            display: block;
            width: 80px;
            height: 80px;
            color: #00003b;
            #{$right}: 0;
            top: 50%;
            transform: translateY(-50%);
            background: url(../imgs/homePageGrey_#{$right}Arrow.png) no-repeat center center;
        }
    }

    @media (max-width:$screen-md-min) {
        height: 270px;
        @include mfe-transition(height 1s);
        overflow: hidden;
        padding-#{$omega}: 0;

        &.mfe-close-box {
            height: 100px;
        }

        .mfe-box-content {
            padding: 20px 0;
        }
    }

    .mfe-box-brand {
        font-size: 14px;
        width: 150px;
        text-align: $omega;
        display: inline-block;
        vertical-align: top;
        position: relative;
        margin-#{$omega}: -20px;

        img {
            width: 145px;
        }

        @media (max-width:$grid-float-breakpoint-max) {
            width: 110px;
            margin-top: 7px;

            img {
                width: 105px;
            }
        }
        /*.mfe-arrow-down {
            cursor: pointer;
            float: $omega;
            width: 0;
            height: 0;
            #{$omega}: -15px;
            position: absolute;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-bottom: 10px solid #00003b;
            border-top: 0 solid #00003b;
            top: 16px;



            @media (min-width:$grid-float-breakpoint) {
                display: none;
            }
        }*/
    }

    .mfe-box-title {
        display: inline-block;
        color: $mfe-info-color;
        font-size: (12 / 14)+em;
        line-height: 1.2em;
        vertical-align: top;

        span {
            color: $mfe-main-color;
        }
    }

    .mfe-box-value {
        display: inline-block;
        color: $mfe-main-color;
        font-size: 36px;
        line-height: 1em;
        /*padding-#{$left}: 5px;*/
        vertical-align: top;

        &.mfe-box-text {
            @if ($dir=="rtl") {
                font-size: 36px;
                line-height: 34px;
                word-wrap: break-word;
                 @media (min-width:$screen-md-min)
                 {
                     width:110px;
                 }
            }
        }
    }

    .mfe-box-label {
        display: inline-block;
        color: $mfe-main-color;
        font-size: 14px;
        vertical-align: bottom;
        line-height: 1.3em;
        font-weight: bold;
        padding-#{$left}: 15px;
        min-width: 60px;
        max-width: 120px;
    }

    .mfe-box-id {
        font-size: (12 / 14)+em;
        line-height: 1.3em;
        display: block;
        color: $mfe-main-color;
    }

    &.mfe-close-box {
        .mfe-box-brand {
            .mfe-arrow-down {
                border-left: 10px solid transparent;
                border-right: 10px solid transparent;
                border-top: 10px solid #00003b;
                border-bottom: 0 solid #00003b;
            }
        }
    }
}
