﻿.carousel-inner {
  position: relative;
  overflow: hidden;
  width: 100%;
   #FlightsCarousel &{
background-color:#eee;
       }


  > .item {
    display: none;
    position: relative;
    @include transition(.6s ease-in-out left);

    // Account for jankitude on images
    > img,
    > a > img {
      @include img-responsive;
      line-height: 1;
    }

    // WebKit CSS3 transforms for supported devices
    @media all and (transform-3d), (-webkit-transform-3d) {
      @include transition-transform(0.6s ease-in-out);
      @include backface-visibility(hidden);
      @include perspective(1000px);

      &.next,
      &.active.right {
        @include translate3d(100%, 0, 0);
        right: 0;
      }
      &.prev,
      &.active.left {
        @include translate3d(-100%, 0, 0);
        right: 0;
      }
      &.next.left,
      &.prev.right,
      &.active {
        @include translate3d(0, 0, 0);
        right: 0;
      }
    }
  }

  > .active,
  > .next,
  > .prev {
    display: block;
  }

  > .active {
    right: 0;
  }

  > .next,
  > .prev {
    position: absolute;
    top: 0;
    width: 100%;
  }

  > .next {
    left: 100%;
  }
  > .prev {
    left: -100%;
  }
  > .next.left,
  > .prev.right {
    left: 0;
  }

  > .active.left {
    left: -100%;
  }
  > .active.right {
    left: 100%;
  }

}

   #hotDealsCarousel
       {
       padding-top:10px;
   }
.carousel-control
{

&.left
{
    background-image:none;
    #FlightsCarousel &{
      background: #00003b;
    opacity: 1;
    width: 16px;
}
}
&.right
{
    background-image:none;
    #FlightsCarousel &{
      background: #00003b;
    opacity: 1;
    width: 16px;
}
}
}


.glyphicon-chevron-right {
    &:before{

        #FlightsCarousel &{
             content: url(/site/imgs/right_home_arrow_1.png);
             margin-right: -13px;
        }
            #hotDealsCarousel &{
             content: "\027F6";
             margin-right: -13px;
                              background-color: rgba(0, 0, 0, 0.8);
   padding-left: 18px;
    padding-right: 18px;
    padding-top: 11px;
    padding-bottom: 22px;
    border-radius: 50%;

        }
    } 
}
.glyphicon-chevron-left {
    &:before{
        #FlightsCarousel &{
             content: url(/site/imgs/left_home_arrow_1.png);
             margin-left: -13px;
        }
            #hotDealsCarousel &{
                  content: "\027F5";
              background-color: rgba(0, 0, 0, 0.8);
              border-radius: 50%;
    margin-right: -13px;
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 11px;
    padding-bottom: 22px;

        }
    }
   
}
