@mixin mfe-clearfix() {
  &:before,
  &:after {
    content: " "; // 1
    display: table; // 2
  }
  &:after {
    clear: both;
  }
}
 
@mixin mfe-transition($transition...) {
  -webkit-transition: $transition;
       -o-transition: $transition;
          transition: $transition;
}





@mixin mfe-button-variant($active-color, $active-background,$active-border,$color:$active-background, $background:transparent, $border:$active-background){
  color: $color;
  background-color: $background;
  border-color: $border;
  //boeder-size: $border-size;
  &:focus,
  &.focus {

    color: $active-color;
    background-color: $active-background;
        border-color: $active-background;
  }
  &:hover {
    color: $active-color;
    background-color: darken($active-background, 10%);
        border-color: $active-background;
  }
  &:active,
  &.active,
  .open > &.dropdown-toggle {
    color: $active-color;
       background-color: $active-background;
        border-color: $active-background;

    &:hover,
    &:focus,
    &.focus {
      color: $active-color;
      background-color: darken($active-background, 17%);
          border-color: darken($active-background, 25%);
    }
  }
  &:active,
  &.active,
  .open > &.dropdown-toggle {
    background-image: none;
  }
  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    &:hover,
    &:focus,
    &.focus {
      background-color: $active-background;
          border-color:$active-border;
    }
  }

  .badge {
    color: $background;
    background-color: $color;
  }
}
