﻿
.mfe-info-popover {
    position: absolute;
    width: 25px;
    height: 25px;
    top: 7px;
    #{$right}: -40px;
    line-height: 22px;
    text-align:center;
      //  text-indent: -0.5px;
    font-size: 18px;
 
    box-shadow:  0px 0px 0px 3px rgba($brand-primary,1);
    background: $brand-primary;
    border-radius: 100%;
    color: #ffffff;
    border-color: 3px solid #fff;

    &:focus, &:active, &:active:focus {
        outline: none;
    }

    &:hover {
    color: #00003b;
    background: #ffffff;
    border-color: #00003b;
    }
}


fieldset {

    @include clearfix;
    padding-top: 10px;
    padding-bottom: 10px;
    /*border:1px solid #000;*/
    legend {
        border-width: 0;
        color: $brand-primary;
        font-size: 16px;
        margin-bottom: 10px;
        font-weight: bold;
    }
}

%formtransition {
    @include transition(all 0.3s);
    //  font-weight: 200;
}

.mfe-btn {
    @include mfe-button-variant(#ffffff,$brand-primary,$brand-primary);
}

//.has-float-label {
.form-group {
    position: relative;

    &.has-float-label {

        label {
            position: absolute;
            // $padding-large-vertical: 13px !default;
            #{$left}: $padding-large-horizontal;
            top: $padding-large-vertical;
            font-size: $font-size-large;
            pointer-events: none;
            @extend %formtransition;
        }

        .form-control {
            color: $brand-primary;

            &::-moz-placeholder {
                opacity: 0;
            }

            &:-ms-input-placeholder {
                opacity: 0;
            }

            &::-webkit-input-placeholder {
                opacity: 0;
            }
        }
    }

    &:not(.has-float-label) {
        .form-control {
            padding-top: 26px;
            color: $brand-primary;

            + label {
                position: absolute;
                #{$left}: $padding-large-horizontal;
                top: 6px;
                font-size: 12px;
            }
        }
    }

    .form-control {
        font-weight: bold;

        + label {
            font-weight: 500;
        }

        @extend %formtransition;
        // color: #252525;
        &:valid,
        &:focus {
            padding-top: 26px;

            + label {
                top: 6px;
                font-size: 12px;
            }
        }
    }
}

.form-group {
    select.form-control {
        &:valid,
        &:focus {
            padding-top: 16px;
            padding-#{$left}: 15px;
        }
    }
}

.mfe-select.form-control {
    &:valid,
    &:focus {
        padding-top: 16px;
        padding-#{$left}: 15px;
    }
}

.has-error.has-float-label {
    input {
        &:valid,
        &:focus {
            padding-top: 25px;
            padding-#{$left}: 15px;
        }
    }
}

.form-control {
    .has-error & {
        border-color: $brand-danger;
    }
}

//TODO: move to alert file
//////////////////////////////////////////////

.help-block, .help-block-stand-alone {
    color: $brand-danger;
    font-size: 12px;
    font-weight: bold;
    margin-top: 2px;
    //opacity: 0;

    .show-helper & {
        opacity: 1;
        color: $text-color;
    }

    .has-error & {
        color: $brand-danger;

        &:before {
            content: "!";
            font-size: 11px;
            font-weight: bold;
            display: inline-block;
            width: 14px;
            text-indent: 0px;
            /* right: 5px; */
            vertical-align: middle;
            margin-#{$right}: 4px;
            background-color: $brand-danger;
            border-radius: 10px;
            line-height: 14px;
            text-align: center;
            color: #fff;
        }
    }
}


.help-block-stand-alone {
    position: relative;
    display: block;
   // opacity: 1;
    margin: 3px 0;
}

.form-group {
    margin-bottom: 22px;

    /*&.has-error {
        .form-control {
            opacity: 1;
        }

        .help-block {
            opacity: 1;
        }
    }*/

    .help-block {
        position: absolute;
    }

    &.mfe-required {
        &:after {
            content: "*";
            display: inline-block;
            position: absolute;
            #{$right}: 0;
            top: 0;
            font-weight: bold;
            /*line-height:50px;*/
            width: 40px;
            font-size: 48px;
            text-align: center;
            color: $brand-danger;
        }

        input {
        }
    }
}
.form-control{
    &:not(.has-error){
        ~.help-block{
          opacity:0;
        }
    }
    &.has-error{
         border-color: $brand-danger;
       ~ .help-block{
           opacity: 1;
        }
    }
}

.help-block.error{
         &:before {
            content: "!";
            font-size: 11px;
            font-weight: bold;
            display: inline-block;
            width: 14px;
            text-indent: 0px;
            /* right: 5px; */
            vertical-align: middle;
            margin-#{$right}: 4px;
            background-color: $brand-danger;
            border-radius: 10px;
            line-height: 14px;
            text-align: center;
            color: #fff;
        }
}