.mfe-card.panel {
    padding: 10px 10px;
    margin: 20px 0 20px ;

    @media (min-width:$grid-float-breakpoint) {
        padding: 10px 21px;
    }

    .panel-heading {
        padding: 10px 0;
        border-bottom: 2px solid $panel-default-border;
        color: $brand-primary;


        h2 {
            &[data-target] {
                cursor: pointer;
            }

            font-size: 18px;
            line-height: normal;
            font-weight: normal;
            text-decoration: none;
        }
    }

    .panel-body {
        padding: 10px 0;
        color: $brand-primary;

        h3 {
            font-size: 32px;
            font-weight: normal;
            line-height: normal;
            text-decoration: none;
            color: $brand-primary;

            span {
                b {
                    color: #00003b !important;
                    word-wrap: break-word;
                }
            }
        }



        /*.col-sm-6 {
            &:nth-child(2){
                  min-height:312px;
            }

                    img{
               max-height: 100%;  
    max-width: 100%; 
    width: auto;
    height: auto;
    position: absolute;  
    top: 0;  
    bottom: 0;  
    left: 0;  
    right: 0;  
    margin: auto;
        }
          
        }*/

        .panel-footer {
            background: transparent;
            border: none;

            img {
                margin: 0 5px;

                @if ($dir=="rtl") {
                    @include rotate(270deg);
                }
                @else {
                    @include rotate(-270deg);
                }
            }

            span {
                font-size: 18px;
                line-height: normal;
                font-weight: normal;
                text-decoration: none;
            }
        }
    }
}

.crisis{
    width:100%;
background-color: #00003b;
color:#fff;

font-size:25px;
}
.crisis-txt
{

padding-top:10px;
padding-#{$left}:78px;
padding-bottom:10px;
 
        background: url(../imgs/white_plane.png)  10px no-repeat;
background-position: center #{$left};
a{
    color:#fff;
text-decoration:none;
padding-right:10px;
padding-left:10px;
font-size:15px;
}
}

      .calculator-img
{
    float:left;
}

      .arrivel-input
{
    
background-image: url(../Content/imgs/_Flight_schedule-active-underline-arrival.png);
    width: 100%;
    padding: 0;
    /* background-color: transparent; */
    background-repeat: no-repeat;
    background-position: 95%;
    padding-right: 28px;
}