﻿//
// Modals
// --------------------------------------------------

// .modal-open      - body class for killing the scroll
// .modal           - container to scroll within
// .modal-dialog    - positioning shell for the actual modal
// .modal-content   - actual modal w/ bg and corners and shit

// Kill the scroll on the body
.modal-open {
    overflow: hidden;
}

// Container that the modal scrolls within
.modal {
    display: none;
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: $zindex-modal;
    -webkit-overflow-scrolling: touch;
    // Prevent Chrome on Windows from adding a focus outline. For details, see
    // https://github.com/twbs/bootstrap/pull/10951.
    outline: 0;
    // When fading in the modal, animate it to slide down
    &.fade .modal-dialog {
        @include translate(0, if-ltr(-25%, 25%));
        @include transition-transform(0.3s ease-out);
    }

    &.in .modal-dialog {
        @include translate(0, 0)
    }
}

.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
}

// Shell div to position the modal with bottom padding
.modal-dialog {
    position: relative;
    width: auto;
    margin: 10px;
}

// Actual modal
.modal-content {
    position: relative;
    background-color: $modal-content-bg;
    border: 1px solid $modal-content-fallback-border-color; //old browsers fallback (ie8 etc)
    border: 1px solid $modal-content-border-color;
    border-radius: $border-radius-large;
    @include box-shadow(0 3px 9px rgba(0,0,0,.5));
    background-clip: padding-box;
    // Remove focus outline from opened modal
    outline: 0;
    border-radius:6px;
 
}

// Modal background
.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: $zindex-modal-background;
    background-color: $modal-backdrop-bg;
    // Fade for backdrop
    &.fade {
        @include opacity(0);
    }

    &.in {
        @include opacity($modal-backdrop-opacity);
    }
}

// Modal header
// Top section of the modal w/ title and dismiss
.modal-header {
    padding: $modal-title-padding;
    border-bottom: none;

    @include clearfix;

    h4 {
        text-align: center;
        font-weight:bold;
        font-size:18px;
    }

    h1{
        font-size:50px;
    }
}
// Close icon
.modal-header .close {
    margin-top: -2px;
    float: left;
    color: #00003c;
    font-size: 28px;
    background-color: transparent;
    border: none;

}

// Title text within header
.modal-title {
    margin: 0 0 15px 0;
    line-height: $modal-title-line-height;
}

// Modal body
// Where all modal content resides (sibling of .modal-header and .modal-footer)
.modal-body {
    position: relative;
    padding: $modal-inner-padding;
    .mail-text{
        font-size:18px;
        line-height:24px;
        color:#505050;
    }
     h5{
        margin-top:20px;
    }
}

// Footer (for actions)
.modal-footer {
    padding: $modal-inner-padding;
    text-align: $right; // right align buttons
    border-top: none;
    @include clearfix; // clear it in case folks use .pull-* classes on buttons
    // Properly space out buttons
    .btn + .btn {
        margin-#{$left}: 5px;
        margin-bottom: 0; // account for input[type="submit"] which gets the bottom margin like all other inputs
    }
    // but override that for button groups
    .btn-group .btn + .btn {
        margin-#{$left}: -1px;
    }
    // and override it for block buttons as well
    .btn-block + .btn-block {
        margin-#{$left}: 0;
    }
}

// Measure scrollbar width for padding body during modal show/hide
.modal-scrollbar-measure {
    position: absolute;
    top: -9999px;
    width: 50px;
    height: 50px;
    overflow: scroll;
}

// Scale up the modal
@media (min-width: $screen-sm-min) {
    // Automatically set modal's width for larger viewports
    .modal-dialog {
        width: $modal-md;
        margin: 30px auto;

        #newsletterPopup &{
            width: $mfe-modal-md;
        }
    }

    .modal-content {
        @include box-shadow(0 5px 15px rgba(0,0,0,.5));
        #newsletterPopup &{
            padding: 5px 4% 22px;
        }
    }

    // Modal sizes
    .modal-sm {
        width: $modal-sm;
    }
}

@media (min-width: $screen-md-min) {
    .modal-lg {
        width: $modal-lg;
    }
}



.conf-gradient {
    background-image: linear-gradient(to right, #0a3771, #328ecb);
    height: 150px;
    padding: 6% 3% 3% 3%;
    color:#fff;
    text-align: center;
    border-radius:4px;
    h2{
        font-size:36px;
font-weight:bold;
        padding:0;
        margin:0;
    }
    span{
        font-size:24px;
    }
    #thanksPopup &{
        height:auto;
        padding: 3px 3% 3% 3%;
    }
}

.modal-gift {

font-size:18px;
width:27%;
display: inline-block;
span{
   display: inline-block;
   width:100px;
text-align:#{$left};
@media (max-width:600px){
    text-align:center;
}
}
&:before{
    content: url(../imgs/gift_icon.png);
}
}

.confirm-btn{
       
    background-color: #00003b;
    color: #f4f4f4;
    font-size: 36px; 
    width: 140px;
    height: 40px;
    border-radius: 3px;
    padding:0;
  float:#{$right};
    span{
position:relative;
top:-8px;
    }
    &:hover{
            background-color: #273b85;
            color: #f4f4f4;
    }

}

.reject-btn
{
    float: right;
    font-size:18px;
    color: #00003b;
    text-decoration: underline;
    margin-top: 8px;
    border:none;
background-color: transparent;
 float:#{$left};
&:hover{
    background-color: transparent;
}
}

button, html input[type="button"], input[type="reset"], input[type="submit"]
{
min-width: 0px;
}