@media (min-width: $grid-float-breakpoint) {
  .navbar-left {
    float: $left !important;
  }
  .navbar-right {
    float: $right !important;
  margin-#{$right}: -$navbar-padding-horizontal;

    ~ .navbar-right {
      margin-#{$right}: 0;
    }
  }
}

.pull-right {
  float: $right !important;
}
.pull-left {
  float: $left !important;
}

.media-right,
.media > .pull-right {
  padding-#{$left}: 10px;
 padding-#{$right}: 0;

}

.media-left,
.media > .pull-left {
  padding-#{$right}: 10px;
  padding-#{$left}: 0;
}