
/* //////////////////////////////// flights-main-slider /////////////////////////////////////// */

//hack
.panel {
    //  margin: 0px;
}
//hack
.flights-number{
    font-size: 18px;
    color: #00003b;
}
.flights-main-slider {
    /*ol.carousel-indicators {
        display: none;
    }*/
    @media (max-width:$grid-float-breakpoint-max) {
        margin-bottom: 0px;
    }


    .mfe-top-gallery-button {
    }

    .mfe-top-gallery {
        padding: 0 10px;

        h4 {
            margin-bottom: 0;
            font-size: 20px;
            color: #00003b;
            text-decoration: none;

            &.panel-title {
                text-decoration: none;
                margin: 15px 0;

                a {
                    text-decoration: none;
                }
            }
        }


        .mfe-top-link {
            margin: 15px 0;
            text-align: $left;

            h4 {
                img {
                    @if ($dir=="ltr") {
                        //  @include transition-transform(0.6s);
                        @include rotate(180deg);
                        /*  margin-bottom: 4px;*/
                    }
                }
            }
        }

        @media (max-width:$grid-float-breakpoint-max) {
            // .js-mfe-show-flight &{
            //position: fixed;
            top: 0;
            #{$left}: 0;
            /*height: 500px;*/
            z-index: 9;
            background-color: #eee;
            padding: 0 10px;
            //   }
        }
    }


    .mfe-info-block {
        min-height: 125px;
        padding: 10px;
    

    @media (max-width:$grid-float-breakpoint-max) {
        /*min-height: 70px;*/
    }
}

h2 {

    img {
        margin: 0px 5px;

        @if ($dir=="ltr") {
            //  @include transition-transform(0.6s);
            // @include rotate(180deg);
            /*  margin-bottom: 4px;*/
            -moz-transform: scaleX(-1);
            -o-transform: scaleX(-1);
            -webkit-transform: scaleX(-1);
            transform: scaleX(-1);
            filter: FlipH;
            -ms-filter: "FlipH";
        }

        @media (max-width:$grid-float-breakpoint-max) {
            width: 30px;
            margin: 0px 5px;
        }
    }

    font-size: 44px;
    text-align: center;
    font-weight: normal;
    color: #00003b;
    margin: 0px 5px;

    @media (max-width:$grid-float-breakpoint-max) {
        font-size: 28px;
    }
}

h3 {
    font-size: 21px;
    text-align: center;
    font-weight: normal;
    margin-bottom: 20px;
    color: #00003b;
    padding-bottom: 20px;

    @media (min-width:$grid-float-breakpoint) {
        border-bottom: solid 1px #d6d6d6;
    }

    @media (max-width:$grid-float-breakpoint-max) {
        font-size: 16px;
    }
}

div {

    .mfe-seat-header {
        font-size: 14px;
        color: #707070;
        margin-bottom: 10px;
        font-weight: normal;
    }

    .mfe-seat-number {
        font-size: 14px;
        color: #00003b;
        font-weight: normal;
    }

    .mfe-seat-type {
        font-size: 14px;
        color: #00003b;
        font-weight: normal;
    }

    .mfe-meal-header {
        font-size: 14px;
        color: #707070;
        margin-bottom: 10px;
        font-weight: normal;
    }

    .mfe-meal-type {
        font-size: 14px;
        color: #00003b;
        font-weight: normal;
    }



    > .btn-primary {
        margin-top: 28px;
        padding: 3px 8%;
        margin: 15px auto;
        text-align: center;
        font-weight: normal;
        width: 100%;

        @media (max-width:$grid-float-breakpoint-max) {
            min-width: 85%;
        }
    }
}

}
.alert-icon:before{
content:url('../imgs/error_alert1.png');
position:relative;
top:5px;
}
.fly-card-alert
{
  font-size:12px;
  color:#707070;
  border-bottom: solid 1px #d6d6d6;
    padding: 15px 0;
      border-bottom: solid 1px #d6d6d6;
}

.fly-card-item{
   display: table;
    width: 100%;
    padding: 15px 0;
         border-bottom: solid 1px #d6d6d6;
         font-size: 14px;
    color: #00003b;
}
.fly-card-frame{
   display: table;
    width: 100%;
    padding: 15px 0;

}
.fly-card-link
{
  font-size:18px;
  font-weight:bold;

   
}
.fly-card-link a
{
 position:absolute;
 left:30px;
 text-decoration:none;
}
.fly-card-link a:after{
  content:url('../imgs/left_round_arrow.png');
      position: absolute;
    left: -26px;
    top: 2px;
}
.list-group {
    a {
        display: block;
        /* margin: 10px 0; */
        text-decoration: none;
        border-bottom: solid 1px #d6d6d6;
        padding: 15px 0;

        h4 {
            &.list-group-item-heading {
                font-weight: normal;
                font-size: 12px;
                color: #707070;
                margin: 0px 0;
            }
        }

        h5 {
            font-weight: normal;
            font-size: 14px;
            color: #00003b;
            display: inline;

            + span {
                font-weight: bold;
                font-size: 18px;
                position: relative;
                float: $right;
                line-height: normal;

                img {
                    @if ($dir=="rtl") {
                        //  @include transition-transform(0.6s);
                        @include rotate(180deg);
                        margin-bottom: 4px;
                    }
                }
            }
        }
    }
}




.panel-group {
    .panel {
        .panel-heading {
            color: #00003b;
            background-color: transparent;
            padding: 0;
            /* min-height: 34px; */
            margin: 15px 0;
        }
    }
}

.mfe-flight-group {
    //  direction: ltr;
    overflow: hidden;
    width: 100%;
    background-color: #eee;
    position: relative;
    //  margin:0 17px;
}

.mfe-flight-list {
    display: table;
    table-layout: fixed;
    position: relative;
    right: 0px;
    transition: right 0.5s ease-in-out;
    //  direction:rtl;
}

.flights-main-slider {
    display: table-cell;
    vertical-align: top;
    padding: 0;
     width: 100%; 
    float: right;
    //height: 519px;
    position: relative;
}
