
/*//////////////////    matmid_new_engine    /////////////////*/
.mfe-loader::before{
display: block;
content:"";
width:32px;
height:32px;
position: absolute;
background: url("../imgs/loader.gif") center center no-repeat;
background-size:100% auto; 
top:9px;
#{$right}:10px;
@include scale(0);
opacity: 0;

@include transition(all 0.7s);
}
.mfe-loader.mfe-loading::before{
@include scale(1);
opacity: 1;
}
.ui-autocomplete{
overflow-y: scroll;
overflow-x: hidden;
min-height: 30px;
max-height: 200px;
}

.new-reservation {
    font-size: 18px;
    color: #00003b;
}

.matmid_new_engine {

       select.form-control {
    
            font-size: 17px;
    padding-#{$right}: 0;
    }
    @media (max-width:$grid-float-breakpoint-max) {
        margin-bottom: 20px;

        .panel-body {
            padding: 10px 10px;
        }
    }


    .row {
        margin-#{$right}: -3px !important;
        margin-#{$left}: -3px !important;
    }

    [class^="col-"], [class*=" col-"] {
        padding-#{$right}: 3px !important;
        padding-#{$left}: 3px !important;
    }




    @include box-sizing(border-box);

    * {
        @include box-sizing(border-box);
    }

    *:before,
    *:after {
        @include box-sizing(border-box);
    }

    min-width: 300px;
}

%formtransition {
    @include transition(all 0.3s);
}

.help-block, .help-block-stand-alone {
    color: #fe0000;
    font-size: 12px;
    font-weight: bold;
    margin-top: 2px;
   // opacity: 0;

    &:before {
        content: "!";
        font-size: 11px;
        font-weight: bold;
        display: inline-block;
        width: 14px;
        text-indent: 0px;
        /* right: 5px; */
        vertical-align: middle;
        margin-#{$right}: 4px;
        background-color: #fe0000;
        border-radius: 10px;
        line-height: 14px;
        text-align: center;
        color: #fff;
    }
}

.help-block-stand-alone {
    position: relative;
    display: block;
    opacity: 1;
    margin: 3px 0;
}

.form-group {
    margin-bottom: 22px;

    &.has-error {
        .form-control {
            border-color: #fe0000;
            opacity: 1;
        }

        .help-block {
            opacity: 1;
        }
    }

    .help-block {
        color: #fe0000;
        position: absolute;
    }
}


.has-float-label {
    position: relative;


    label {
        position: absolute;
        // $padding-large-vertical: 13px !default;
        #{$left}: $padding-large-horizontal;
        //  top: $padding-large-vertical;
        font-size: $font-size-large;
        //padding-top: 26px;
        color: #717171;
        pointer-events: none;
        top: 6px;
        font-size: 12px;
        @extend %formtransition;
       
    }

    select.form-control {
        padding-#{$left}: 12px;
        padding-top: 17px;
        padding-bottom: 5px;
        
    }


    .form-control {
        padding-top: 22px;
        &:valid,
        &:focus{
             padding-top: 22px;
        }

        &select {
            padding-top: 10px;
            padding-bottom: 5px;
        }

        &::-moz-placeholder {
            //  opacity: 0;
        }

        &:-ms-input-placeholder {
            //  opacity: 0;
        }

        &::-webkit-input-placeholder {
            //  opacity: 0;
        }
    }
    /*
    input.form-control {
        @extend %formtransition;
        color: #252525;
        padding-top: 10px;


        + label {
            top: $padding-large-vertical;
            font-size: 20px;
            padding-top: 0px;
            font-weight: normal;
            color: #707070;
        }

        &:valid,
        &:focus {
            // padding-top: 26px;
            + label {
            
                opacity: 0;
            }
        }
    }
*/
}

.has-error.has-float-label {
    input {
        &:valid,
        &:focus {
            // padding-top: 25px;
            //padding-#{$left}: 15px;
        }
    }
}

.panel {
    border: 0;
}


.matmid_new_engine {
    //  .form-group {

    .form-group.elal-date-start .form-control:valid, .form-group.elal-date-start .form-control:focus,.form-group.elal-date-end .form-control:valid, .form-group.elal-date-end .form-control:focus{
         padding-top:13px;

    }
    .elal-date-start {
        margin-#{$right}: -4px;

        label {
            color: #00003b;
        }

        input {
            background: #fff url(../imgs/_Flight_schedule-active-underline.png) no-repeat 95% 17px;
            text-indent: 17px;
           // padding: 10%;
             padding-top:13px;
            color: #00003b;
            font-weight: bold;
        }

        ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
            color: #00003b;
            line-height: normal;
        }

        ::-moz-placeholder { /* Firefox 19+ */
            color: #00003b;
            line-height: normal;
        }

        :-ms-input-placeholder { /* IE 10+ */
            color: #00003b;
            line-height: normal;
        }

        :-moz-placeholder { /* Firefox 18- */
            color: #00003b;
            line-height: normal;
        }
    }

    .elal-date-end {
        margin-#{$left}: -4px;

        label {
            color: #00003b;
        }

        input {
            background: #fff url(../imgs/_Flight_schedule-active-underline-arrival.png) no-repeat 95% 17px;
            text-indent: 17px;
        //    padding: 10%;
        padding-top:13px;
            color: #00003b;
            font-weight: bold;
        }
    }
    //  }
    .nav-tabs {
        padding: 0px;

        li {
            &:not(.active) {
                .mfe-tab-hotels {
                    background: #eee;

                    img {
                        content: url("../imgs/_hotel_reservation-active.png");
                        width: 16px;
                        top: -2px;
                        position: relative;
                    }

                    span {
                        color: #00003b;
                        font-size: 18px;
                        font-weight: normal;
                    }
                }

                .mfe-tab-flights {
                    background: #eee;

                    img {
                        content: url("../imgs/_Flight_schedule-active.png");
                        width: 19px;
                        top: -2px;
                        position: relative;
                    }

                    span {
                        color: #00003b; 
                        font-size: 18px;
                        font-weight: normal;
                    }
                }
            }

            &.active {
                a {
                    background: #79a6bb;

                    img {
                        content: url("../imgs/_hotel_reservation.png");
                        width: 16px;
                        top: -2px;
                        position: relative;
                    }

                    span {
                        color: #fff;
                        font-size: 18px;
                        font-weight: normal;
                    }
                }

                .mfe-tab-flights {
                    background: #79a6bb;

                    img {
                        content: url("../imgs/_Flight_schedule.png");
                        width: 19px;
                        top: -2px;
                        position: relative;
                    }

                    span {
                        color: #fff;
                        font-size: 18px;
                        font-weight: normal;
                    }
                }
            }


            @media (max-width: $screen-xs-max) {
                float: $left;
                width: calc(100% - 80px);
                display: inline-block;

                &:not(.active) {
                    background: #79a6bb;
                    width: 80px;

                    a {
                        span {
                            opacity: 0;
                            display: none;
                        }
                    }
                }
            }



            a {
                span {
                    color: #00003b;
                    font-weight: bold;
                    font-size: 16px;
                }
            }
        }
    }

    .elal_type-passengers-button {
        > div {
            > a {
                > span {
                    font-size: 16px;
                    font-weight: bold;
                    //     background:url('../imgs/down_round_arrow.png') no-repeat $right;
                    line-height: 22px;
                }

                + span {
                    //   background:url('../imgs/down_round_arrow.png') no-repeat $right;
                    background-position-x: -22px;
                }
            }
        }
    }

    .elal_type-passengers-button {
        a {
            font-size: 14px;
            font-weight: bold;

            span {
                display: block;
                margin-bottom: 10px;

                @media (min-width: $grid-float-breakpoint) {
                    display: inline;
                    margin-bottom: 0;
                    width: 74px;
                }

                float: $left;

                + span {
                    display: none;
                }
            }

            input {
            }

            img {
                @if ($dir=="rtl") {
                    @include transition-transform(0.6s);
                    float: right;
                }
            }


            &:not(.collapsed) {

                img {
                    @include rotateX(180deg);
                }

                span {
                    display: none;

                    + span {
                        display: inline;
                    }
                }
            }
        }
    }

    label {
        color: #808080;
        //    font-weight: normal;
        // font-size: 12px;
    }

    select {
        color: #00003b;
        font-weight: bold;
        font-size: 16px;
    }
}


/*
    clouds background in part-calculator
    image padding in part-fly-card
*/
.mfe-card {
    &.calculator-card {
        @if ($dir == 'rtl') {
            background-image: url(../imgs/clouds.png);
        }
        @else {
            background-image: url(../imgs/clouds-ltr.png);
        }

        background-repeat: no-repeat;
        background-position: #{$right} -65px;
    }

    &.fly-card {
        .media-left {
            padding-#{$right}: 10px;
            padding-#{$left}: 0px;
        }
    }
}

/*
    common actions
*/

.common-actions {
    ul {
        margin-top: 23px;
        padding: 0;
        list-style: none;

        li {
            margin-bottom: 45px;

            a .action {
                position: relative;
                padding-#{$left}: 35px;

                &:before {
                    content: "";
                    position: absolute;
                    width: 20px;
                    height: 16px;
                    #{$left}: 0;

                    @if ($dir == "rtl") {
                        background-image: url('../imgs/_Arrow_red.png');
                    }
                    @else {
                        background-image: url('../imgs/_Arrow_red.png');
                        transform: rotate(180deg);
                    }
                }
            }
        }
    }
}
