﻿ 
.mfe-sale-part .panel-body {
    position: relative;

    .mfe-deal-next, .mfe-deal-prev {
        display: none;

        @media (min-width:$grid-float-breakpoint) {
            display: block;
            top: 40%;
            position: absolute;
            background: #000;
            border-radius: 50%;
            height: 76px;
            width: 76px;
            z-index: 99;
            opacity: .5;
            text-align: center;
            line-height: 70px;
            color: #fff;
            font-size: 40px;
            font-weight: bold;
        }
    }


    .mfe-deal-next {
        #{$left}: 20px;

        &:before {
            content: if-rtl("\027F6","\027F5");
        }
    }

    .mfe-deal-prev {
        #{$right}: 20px;

        &:before {
            content: if-rtl("\027F5","\027F6");
        }
    }
}



.mfe-deal-group {
    direction: ltr;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 350px;
}

.mfe-deal-list {
    direction: $dir;
    display: table;
    table-layout: fixed;
    margin-#{$left}: -10px;
}

.mfe-deal-slide {
    position: relative;
    display: table-cell;
    padding: 0px 10px 0px 10px;
    vertical-align: top;
      @media (max-width:770px)
      {
          .mfe-deal-slide{
    display: inline-block; 
    padding: 20px 10px 0px 10px; 
  
          } 
           
      }


    .mfe-deal {
        width: 350px;
    }
    @media (max-width:$grid-float-breakpoint)
    {
          .mfe-deal-slide{
    display: inline-block;
    padding: 20px 10px 0px 10px;
  
          }
    }
}

.mfe-deal-slide:nth-child(even) {
    .mfe-deal-body {
        background-color: #7ba6bb;
    }
}

.mfe-deal {
    display: block;
    /*width: 300px;*/
    height: 350px;
    overflow: hidden;
    position: relative;
    width: 100%;

    &-image {
        position: relative;
        width: 100%;
        height: 230px;
        overflow: hidden;

        img {
            width: 100%;
            height: auto;
            position: absolute;
            @include translate (0, -50%);
            top: 50%;
        }
    }


    &.hover-on:hover &-body {
        @media (min-width:$grid-float-breakpoint) {
            @include translate(0,-100%);
            //margin-top: 100px;
            //   margin-bottom: 124px;
        }
    }

    &.hover-off {
        
        .mfe-deal-body-static {
            position: relative;
            height: 100%;
            background-color: #3c528f;
            color: #fff;
            padding: 9px 15px 0px 15px;
             border-top: 5px solid #fff;
             @media (max-width:$grid-float-breakpoint){
margin-top:-25px;
             }
            &:before {
                content: "";
                display: block;
                position: absolute;
                width: 20px;
                height: 20px;
                background-color: inherit;
                border: 5px solid #fff;
                border-width: 5px 0 0 5px;
                top: 0;
                @include rotate(45deg);
                margin-top: -16px;        
                box-sizing: content-box;
                #{$right}: 30px;
            }

            h2 {
                font: 26px;
                line-height: 1.2;
                padding: 10px 0;
                margin: 0;
            }

            p {
                text-align: #{$right};
                color: #fff;
                /*padding-#{$right}: 15px;
                padding-bottom: 25px;*/
                padding: 15px 0;
                margin: 0;
                font-size: 18px;
            }
        }
    }



    &-body {
        background-color: #3c528f;
        // height: 100%;
        border-top: 5px solid #fff;
        color: #fff;
        @include transition-transform(0.5s ease-in-out);
        padding: 9px 15px 0px 15px;
        @include translate(0,-122px);
        position: absolute;
        top: 100%;
        // margin-top:230px;
        width: 100%;


        &:before {
            content: "";
            display: block;
            width: 20px;
            height: 20px;
            background-color: inherit;
            border: 5px solid #fff;
            border-width: 5px 0 0 5px;
            top: 0;
            @include rotate(45deg);
            margin-top: -16px;
            position: absolute;
            box-sizing: content-box;
            #{$right}: 30px;
        }

        h2 {
            font: 26px;
            margin: 0;
            min-height: 105px;
            line-height: 1.2;
            padding-top: 10px;
        }

        p {
            font-size: 18px;
        }
    }
}

a.mfe-more-link {
    font-size: 14px;
}
