.mfe-next-caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-#{$left}: 6px;
    vertical-align: middle;

    @if ($dir == "rtl") {
        border-right: $caret-width-base dashed;
        border-top: $caret-width-base solid \9; // IE8
        border-bottom: $caret-width-base solid transparent;
        border-top: $caret-width-base solid transparent;
    }
    @else {
        border-left: $caret-width-base dashed;
        border-top: $caret-width-base solid \9; // IE8
        border-bottom: $caret-width-base solid transparent;
        border-top: $caret-width-base solid transparent;
    }
}

  .mfe-deal-image {
  display:table;


  }


.benefits-store {
    margin-bottom: 35px;

    ul {
        margin: 0 -3px;
        padding: 0;
        list-style: none;
        font-size: 0;

        li {
            display: inline-block;
            position: relative;
            width: (100%/3);
            font-size: 16px;

            @media (max-width:767px) {
                width: (100%/3);

                &:nth-child(n+4) {
                    display: none;
                }
            }

            @media (min-width:768px) {
                width: (100%/4);


                &:nth-child(n+4) {
                    display: none;
                }

                &:last-child {
                    display: inline-block;
                }
            }


            @media (min-width: 992px) {
                width: (100%/5);

                &:nth-child(n+4) {
                    display: inline-block;
                }

                &:nth-child(n+5) {
                    display: none;
                }

                &:last-child {
                    display: inline-block;
                }
            }

            @media (min-width: 1260px) {
                width: (100%/6);
                display: inline-block;

                &:nth-child(n+5) {
                    display: inline-block;
                }
            }

            text-align: center;


            &:before {
                content: "";
                display: block;
                padding-top: 100%;
            }

            a {
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                padding: 3px;
            }

            .benefits-content {
                width: 100%;
                height: 100%;
                border: 1px solid #d2d2d2;

                .image {
                    margin-top: 50%;
                    transform: translateY(-50%);
                    width: 100%;
                    min-height: 50px;
                }

                &.arrow_dots {
                    @if($dir=='rtl') {
                        background: url('../imgs/homePageGrey_leftArrow.png') center center no-repeat;
                    }
                    @else {
                        background: url('../imgs/homePageGrey_rightArrow.png') center center no-repeat;
                    }

                    .item-text {
                        margin-top: 70%;
                        /*transform: translateY(-60%);*/
                    }
                }

                .item-text {
                    /*margin-top: 70%;*/
                    /*transform: translateY(-60%);*/
                    margin-top: -30px;
                }
            }
        }
    }
}

.benefits-item {
    text-align: center;
    padding: 0 3px 0 3px;
   @media (max-width: $screen-sm-max)
   {
       margin-top:10px;
   }
}

.benefits-table {
    margin: 0 -3px;
}

.benefits-out {
    padding-top: 28px;
    padding-bottom: 12px;
    border: 1px solid #d2d2d2;
    height: 120px;
}

.benefits-icon {
    
    height: 38px;
    overflow: hidden;

    img{
position: relative;
        &:hover{
            top:-38px;
        }
    }
}

.benefits-txt {
    h5 {
        font-size: 16px;
    }
}



    .arrival{

/*background-image: url('../../../Content/imgs/_Flight_schedule-active-underline-arrival.png') !important;*/
background-image: url('../imgs/_Flight_schedule-active-underline-arrival.png') !important ;
    width: 100%;

    background-repeat: no-repeat;
    background-position: #{$right} 95% top 50%;
    padding-#{$left}: 28px !important;
}

    .departure{
/*background-image: url('../../../Content/imgs/_Flight_schedule-active-underline.png') !important;*/
background-image: url('../imgs/_Flight_schedule-active-underline.png') !important ;
    width: 100%;

    background-repeat: no-repeat;
    background-position: #{$right} 95% top 50%;
    padding-#{$left}: 28px !important;
    }

