/* -------- -------- -------- -------- -------- -------- -------- -------- -------- -------- */
.header {
    @include box-sizing(content-box);

    * {
        @include box-sizing(content-box);
    }

    *:before,
    *:after {
        @include box-sizing(content-box);
    }

    /*background: url(../imgs/header_bg.png) #{$omega} bottom repeat-x;*/
    height: 103px;
    padding: 0px auto;
}

.headerLogo {
    float: #{$alpha};
    width: 24.5%;
    padding: 16px 0px 0px 0px;
}

.headerLogo a {
    display: block;
    max-width: 187px;
}

.headerLogo img {
    display: block;
    width: 100%;
    height: auto;
}

.loginDetails {
    padding: 20px 0px 0px 0px;
    font: normal 15px Rubik;
    float: #{$left};
}

.loginDetails B {
    font-size: 0.8em;
    font-weight: 900;
}

.header_toElal {
    float: #{$omega};
    padding: 14px 0px 0px 0px;
}

.header_toElal a {
    font: normal 14px Rubik;
    color: #00003b;
}


.header_toElal a:hover {
    text-decoration: underline;
}

.headerIcon {
    float: #{$omega};
    padding-top: 32px;
    display: none;
}

.headerIcon a {
    display: block;
    text-decoration: none;
    width: 25px;
    height: 20px;
    padding: 3px;
}

.headerIcon a img {
    display: block;
    width: 100%;
}

.headerIcon a span {
    display: none;
    line-height: 47px;
}

.headerLeft {
    float: #{$omega};
    padding: 12px 0px 0px 0px;
}

.headerLang {
    padding: 0px 0px 28px 0px;
    text-align: #{$omega};
}

.headerLang ul.textLang_ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: inline-block;
    vertical-align: middle;
}

.headerLang ul.textLang_ul li {
    float: #{$omega};
    padding-#{$alpha}: 10px;
}

.headerLang ul.textLang_ul li a {
    color: #00003b;
    font: normal 11px Rubik;
    text-decoration: none;
}

.headerLang ul.textLang_ul li a:hover {
    text-decoration: underline;
}

.headerLang .header_toElal {
    padding: side-values(0px 40px 0px 0px);
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.headerLang .header_toElal a {
    font: normal 12px Rubik;
    color: #00003b;
}

.minHeader .headerLang {
    padding: 13px 0px 0px 0px;
}

.minHeader .headerLang .header_toElal {
    padding: side-values(15px 0px 0px 0px);
}

.minHeader .headerLang .header_toElal a {
    font: normal 14px Rubik;
}

.minHeader .headerLang ul.textLang_ul li a {
    font: normal 12px Rubik;
}


.headerUpdates {
    float: #{$alpha};
    padding: 0;
    height: 26px;
}

.headerUpdates a {
    color: #00003b;
    text-decoration: none;
    font: normal 14px Rubik;
    display: inline-block;
    height: 23px;
    padding-top: 3px;
    vertical-align: middle;
}

.headerUpdates a span {
    display: inline-block;
    width: 17px;
    height: 14px;
    font: bold 14px/14px Rubik;
    color: white;
    background: url(../imgs/header_update_spot.png) #{$omega} top no-repeat;
    text-align: center;
    margin-#{$omega}: 4px;
    vertical-align: middle;
}

.headerUpdates a:hover {
    color: #00003b;
}

.headerUpdates B {
    display: inline-block;
    width: 1px;
    height: 26px;
    padding: 0px 14px;
    font-size: 1px;
    background: url(../imgs/header_border_tab.png) center bottom no-repeat;
    vertical-align: middle;
    margin-top: -8px;
}

.headerUpdates_logout {
    display: inline-block;
}

.headerUpdates_logout .loginDetails {
    display: none;
}

.headerSearch {
    float: #{$alpha};
    padding: side-values(0px 0px 0px 25px);
}

.headerSearch input[type='text'] {
    border: 1px solid #dddddd;
    width: 138px;
    height: 22px;
    border-#{$omega}: 0px;
    background-color: white;
    color: #00003b;
    font: normal 14px Rubik;
    text-indent: 7px;
    vertical-align: middle;
    padding: 0;
    margin: 0;
    border-radius: 0px;
    -webkit-appearance: none;
}

.headerSearch input[type='submit'] {
    border: 0px;
    font-size: 1px;
    line-height: 1px;
    color: white;
    float: #{$omega};
    height: 24px;
    width: 24px;
    background: url(if-rtl("../imgs/header_submit.png","../imgs/ltr/header_submit.png")) #{$omega} top repeat-y;
    vertical-align: middle;
    padding: 0;
    margin: 0;
}

.headerSearch a {
    display: none;
}

.headerMenu {
    padding: 46px 0 0 0;
}

.headerMenu ul {
    display: table;
    margin: 0;
    padding: 0;
    list-style: none;
}

.headerMenu ul li.headerMenu_li:first-child {
    background: none;
    padding: 0;
}

.headerMenu ul li.headerMenu_li {
    display: table-cell;
    margin: 0;
    padding: side-values(0px 0px 0px 8px);
    width: 92px;
    height: 34px;
    background: url(../imgs/header_border_tab.png) #{$alpha} bottom no-repeat;
    vertical-align: bottom;
    font: normal 14px/16px Rubik;
    white-space: nowrap;
}

.headerMenu ul li a {
    color: #00003b;
    text-decoration: none;
}

.headerMenu ul li a b {
    font: normal 12px Rubik;
}

/* Mega menu */
.megaMenu {
    position: absolute;
    z-index: 280;
    top: 91px;
    display: none;
    margin-#{$alpha}: -65px;
}

.megaMenu_roBox {
    height: 1px;
}

.megaMenu_roBox a {
    display: block;
    position: relative;
    width: 100px;
    height: 29px;
    color: #fff;
    padding: side-values(18px 0px 0px 25px);
    margin: side-values(-45px 0px 0px 40px);
    background: url(if-rtl("../imgs/megamenu_over.png","../imgs/ltr/megamenu_over.png")) #{$omega} top no-repeat;
    color: white !important;
    font: normal 14px/16px Rubik;
    white-space: nowrap;
    text-decoration: none;
}

.megaMenu_roBox a b {
    font: normal 12px Rubik;
}

.megaMenu_frame {
    background: white url(../imgs/megamenu_blue_top.png) #{$omega} top repeat-x;
    border-radius: 5px;
    box-shadow: 0px 0px 5px #888888;
    width: 100%;
    margin-top: 45px;
    direction: rtl;
}

.megaMenu_frameColoumn {
    display: table-cell;
    width: 180px;
    padding: 20px 20px 14px 20px;
    vertical-align: top;
}

.megaMenu_frameSection {
    padding: 0;
}

.megaMenu_frameSection h3 {
    margin: 0;
    padding: side-values(25px 0px 5px 0px);
    min-height: 25px;
    background: #eeeeee url(../imgs/megamenu_section_title.png) #{$omega} top no-repeat;
    background-size: auto 100%;
    border-radius: 0px 3px 3px 0px;
    font: bold 17px/24px Rubik;
    color: #8d8373;
    border: 0px;
    white-space: normal;
}

.megaMenu_frameSection h3 a {
    color: #8d8373 !important;
    text-decoration: none;
}

.megaMenu_frameSection ul {
    margin: 0;
    padding: 5px 0px 0px 0px;
    list-style: none;
}

.megaMenu_frameSection ul li {
    font: normal 14px Rubik;
    text-decoration: none;
    color: #00003b;
    background: url(if-rtl("../imgs/babys_arrow.png","../imgs/ltr/babys_arrow.png")) #{$alpha} 6px top 12px no-repeat;
    padding: side-values(5px 0px 2px 18px);
    white-space: normal;
}

.megaMenu_frameSection ul li a {
    color: #00003b;
    text-decoration: none;
    white-space: normal;
}

.megaMenu_frameSection ul li a span {
    display: inline;
    font: normal 14px Rubik;
}

.megaMenu_frameSection h3, .megaMenu_frameSection strong {
    display: block;
    margin: 0;
    padding: side-values(0 25px 0 5px);
    min-height: 25px;
    background: #eee url(/_layouts/15/images/Matrix.Elal.com/megamenu_section_title.png) #{$omega} top no-repeat;
    background-size: auto 100%;
    border-radius: 0 3px 3px 0;
    font: bold 17px/24px Rubik;
    color: #8d8373;
    border: 0;
    white-space: normal;
}

.megaMenu_frameSection a:hover {
    text-decoration: underline;
}

.headerMenu ul li.headerMenu_li:hover .megaMenu {
    display: block;
}



@media screen and (max-width: 1200px) {
    .headerLogo {
        width: 22.5%;
    }
}

@media screen and (max-width: 1140px) {
    .headerLang {
        padding: 0;
        text-align: #{$omega};
    }

    .headerLeft {
        padding: 5px 0px 0px 0px;
    }

    .headerUpdates {
        float: none;
        padding: side-values(3px 2px 6px 0px);
        text-align: #{$omega};
        margin-top: 0;
    }

    .headerSearch {
        float: none;
        padding: 0;
    }

    .headerUpdates B {
        padding: 0px 24px;
        margin-top: -9px;
    }
}

@media only screen and (device-width: 768px) and (device-height: 1024px) {
    .headerSearch input[type='submit'] {
        margin-#{$alpha}: -4px;
    }
}

@media screen and (max-width: 1024px) {
    /*.header {
        padding: 0px 25px;
    }*/

    .innerContent {
        padding: 35px 25px 0px;
    }

    .headerLogo {
        float: #{$alpha};
        width: 22.5%;
        padding: 16px 0px 0px;
    }

    .headerLogo a {
        width: 85%;
    }

    .innerContent .clubDonation ul {
        margin: side-values(0px 0px 0px -2%);
    }

    .clubDonation ul li.clubDonation_item {
        width: 23%;
        padding: side-values(0px 0px 2% 2%);
    }
}

@media screen and (max-width: 870px) {
    .megaMenu_frameSection ul li, .megaMenu_frameSection strong {
        background-image: none;
        background-color: #000028;
        border-radius: 0;
        padding: 0;
        font: normal 24px/68px Rubik !important;
    }

    .megaMenu_frameSection ul li a, .megaMenu_frameSection strong a {
        display: block;
        color: #fff !important;
        text-decoration: none;
        border-top: 1px solid #242646;
        border-bottom: 1px solid #030417;
        text-indent: 48px;
    }

    .megaMenu_frameSection ul {
        /* display: none !important; */
    }

    .megaMenu {
        position: static;
        top: auto;
        display: block;
        margin-#{$alpha}: 0;
        margin-#{$omega}: 0;
    }

    .headerMenu ul {
        display: block;
        padding: 0 0 0 0;
    }

    .headerMenu ul li a {
        display: block;
        color: #fff;
        text-decoration: none;
    }

    .megaMenu_frameSection h3, .megaMenu_frameSection strong {
        background-image: none;
        background-color: #000028;
        border-radius: 0;
        padding: 0;
        font: normal 24px/56px Rubik;
    }

    .megaMenu_frameSection {
        padding: 0 0 0 0;
    }

    .megaMenu_frameColoumn {
        display: block;
        width: auto;
        padding: 0;
    }

    .megaMenu_roBox {
        display: none;
    }

    .headerMenu_box .megaMenu_frame {
        background: none;
        border-radius: 0;
        box-shadow: none;
        margin-top: 0;
        width: auto;
        display: none;
    }

    .headerLogo {
        width: auto;
        padding: 16px 0 0;
    }

    .headerLogo a {
        width: auto;
    }

    @media (min-width:$screen-sm-min) {
        .loginDetails {
            padding: side-values(20px 0px 0px 25px);
            margin-#{$omega}: -150px;
        }
    }


    .headerIcon {
        display: block;
        /*margin-#{$omega}: -10px;*/
    }

    .headerIcon a {
        display: block;
        text-decoration: none;
        width: 52px;
        height: 32px;
        padding: -2px 3px 0px 10px;
        display: block;
        text-decoration: none;
        width: 37px;
        height: 33px;
        padding: side-values(-1px 10px 0px 0px);
    }

    .headerIcon a span {
        /* display: block; */
        font-size: 0px;
        height: 9px;
        /* background-color: #00003b !important; */
        margin-bottom: 2px;
        padding-bottom: 0px;
        /* line-height: 47px; */
    }

    .headerIcon_active a {
        background-color: #00003b;
        height: 70px !important;
        /* width: 40px !important; */
        margin-top: 0px;
    }

    div.headerIcon.headerIcon_active > a > img {
        content: url(../imgs/nav-icon_white.png);
        /* background: url(../imgs/nav-icon_white.png) center top no-repeat; */
    }

    div.headerIcon.headerIcon_active > a > img {
        src: url("../imgs/nav-icon_white.png");
    }

    .headerLeft {
        padding: 12px 0px 0px 15px;
    }

    .headerLang {
        padding: 0px 0px 28px 0px;
    }

    .headerUpdates {
        margin-top: 0px;
        padding: 0;
        text-align: #{$omega};
        float: #{$alpha};
    }

    .headerUpdates B {
        padding: 0px 14px;
        margin-top: -16px;
    }

    .headerSearch {
        float: #{$alpha};
        padding: side-values(0px 0 0 25px);
    }

    .megaMenu {
        /* display: none; */
    }

    .headerMenu_box {
        /* position: absolute; */
        /* #{$omega}: 18px; */
        /* top: 65px; */
        /* width: 150px; */
        /* background-color: white; */
        /* border: 1px solid #d8d8d8; */
        /* border-radius: 7px; */
        /* padding: 7px; */
        /* z-index: 10; */
        /* display: none; */
        position: absolute;
        #{$omega}: 0px;
        top: 100px;
        width: 480px;
        background-color: #00003b;
        padding: 0px;
        border: 0px;
        box-shadow: 1px 1px 4px #eee;
        z-index: 10;
        display: none !important;
    }

    .headerMenu_box_active {
        display: block !important;
    }

    .headerMenu {
        padding: 0;
        width: 100%;
    }

    .headerMenu ul li a {
        display: block;
        color: white;
        width: 100%;
        text-decoration: none !important;
    }

    .headerMenu ul {
        /* display: block; */
        padding: 0;
        /* display: none; */
    }

    .headerMenu ul li.headerMenu_li {
        display: block;
        padding: 0;
        border-top: 1px solid #242646;
        border-bottom: 1px solid #030417;
        text-indent: 35px;
        font: 26px/68px Rubik;
        width: auto;
        /* width: 100%; */
        height: auto;
        background: none;
    }

    .headerMenu ul li.headerMenu_li:first-child {
        /* padding: 0px 7px 4px 7px; */
        border-top: 0px;
        width: 100%;
    }

    .headerMenu ul li.headerMenu_li:last-child {
        border-bottom: 0px;
        /* padding: 4px 7px 0px 7px; */
    }

    .headerMenu ul li.headerMenu_li a span {
        display: inline;
    }

    .atYourService_box_phone span {
        font: normal 16px/24px Rubik;
    }

    .socialMedia_box h3, .latestDonations h3 {
        line-height: 25px;
    }

    .innerContent .socialMedia_box ul {
        overflow: visible;
    }

    .socialMedia_box ul li {
        float: none;
        display: block;
        width: 100%;
    }
}

@media screen and (max-width: 480px) {
    .headerMenu ul li.headerMenu_li {
        text-indent: 24px;
        font: 24px/45px Rubik;
    }

    .megaMenu_frameSection ul li, .megaMenu_frameSection strong {
        background-image: none;
        background-color: #000028;
        border-radius: 0;
        padding: 0;
        font: normal 21px/36px Rubik !important;
    }
}

@media screen and (max-width: 840px) {
    .atYourService_box h3, .officeLookup a strong, .socialMedia_box h3, .latestDonations h3 {
        font-size: 25px;
    }

    .megaMenu_frameSection h3 a, .megaMenu_frameSection strong a {
        display: block;
        color: #fff !important;
        text-decoration: none;
        border-top: 1px solid #242646;
        border-bottom: 1px solid #030417;
        text-indent: 65px;
    }
}

@media screen and (max-width: 670px) {
    .myflights .innerContent {
        padding: 5px 15px 0px;
    }

    .myflights.missedFlights .innerContent {
        padding: 0px 14px;
    }

    .header {
        /*padding: side-values(40px 0px 0px 15px);*/
        /*padding: 40px 0;*/
    }

    .headerLang {
        padding: 0;
        position: absolute;
        #{$omega}: 0;
        top: 0;
        background-color: #eeeeee;
        width: 100%;
        height: 40px;
    }

    .headerLang .header_toElal {
        display: none;
    }

    .headerLang ul.textLang_ul {
        padding: side-values(0px 30px 0px 0px);
    }

    .headerLang ul.textLang_ul li {
        padding-#{$alpha}: 10px;
    }

    .headerLang ul.textLang_ul li a {
        display: inline-block;
        font: bold 17px/17px Rubik;
        padding: 10px;
    }

    .minHeader {
        padding: 40px 15px 0px;
    }

    .minHeader .headerLang {
        padding: 0;
    }

    .minHeader .headerLang ul.textLang_ul li a {
        font: bold 17px/17px Rubik;
    }

    .headerIcon {
        margin: 0px;
        padding: 0;
        height: 80px;
        width: 64px;
        text-align: center;
        border-#{$alpha}: 1px solid #eaeaea;
        margin: 0;
        padding: 17px 13px 0px;
    }

    .headerIcon a {
        color: #00003b;
        display: inline-block;
        width: auto;
        height: auto;
        height: 52px;
        margin-top: 0px;
        /* width: 58px; */
        /* top: 0px; */
        /* line-height: 56px; */
        text-decoration: none !important;
    }

    .headerIcon a img {
        width: 50px;
        height: 38px;
        margin: 0 auto;
    }

    .headerIcon a span {
        display: block;
        font: normal 24px Rubik;
        text-align: center;
        margin-top: 0;
        line-height: 27px;
    }

    .headerMenu_box {
        /* #{$omega}: 18px; */
        top: 120px;
    }

    /*.loginDetails {
        display: none;
    }*/

    .headerLeft {
        padding: 0px 0px 0px 0px;
    }

    .headerUpdates {
        float: #{$omega};
        height: 76px;
        padding: 14px 25px 0px;
        text-align: center;
        border-#{$alpha}: 1px solid #eaeaea;
        margin: 8px 0px;
        font: normal 24px Rubik;
        text-align: center;
    }

    .headerUpdates a {
        display: inline-block;
        height: auto;
        font: normal 24px Rubik;
        color: #00003b;
        text-align: center;
        text-decoration: none;
        padding: 37px 0px 0px 0px;
        background: url(../imgs/header_msg_icon.png) center top no-repeat;
    }

    .headerUpdates B {
        display: none;
    }

    .headerUpdates a span {
        display: none;
    }

    .headerUpdates .headerUpdates_logout {
        position: absolute;
        #{$alpha}: 10px;
        top: 0px;
        margin: 10px;
        background: #EEEEEE;
    }

    .headerUpdates .headerUpdates_logout a {
        padding: 0;
        background: none;
        font: bold 17px/17px Rubik;
        vertical-align: top;
    }

    .headerUpdates .headerUpdates_logout .loginDetails {
        display: inline-block;
        margin: 0;
        padding: side-values(0px 12px 0px 0px);
        font-size: 17px;
        line-height: 17px;
    }

    .headerUpdates .headerUpdates_logout .loginDetails b {
        display: inline;
        padding: 0;
        margin: 0;
        font-size: 0.8em;
    }

    .headerSearch {
        padding: 14px 25px 0px;
        height: 76px;
        text-align: center;
        margin: 4px 0px;
        font: normal 24px Rubik;
        text-align: center;
    }

    .headerSearch a {
        display: inline-block;
        height: auto;
        font: normal 24px Rubik;
        color: #00003b;
        text-align: center;
        text-decoration: none;
        padding: 37px 0px 0px 0px;
        background: url("../imgs/large_header_submit.png") center top no-repeat;
    }

    .headerSearch_toolbar {
        display: none;
        width: 95%;
        padding: 6px 2.5% 12px;
        position: absolute;
        #{$alpha}: 0px;
        text-align: #{$alpha};
        background: white url(../imgs/header_bg.png) #{$omega} bottom repeat-x;
        z-index: 5;
    }

    .headerSearch_toolbar_active {
        display: block;
        /* display: none; */
    }

    .headerSearch input[type="text"] {
        width: 100%;
        height: 34px;
        border: 1px solid #dddddd;
        font: normal 18px Rubik;
    }

    .headerSearch input[type="submit"] {
        position: absolute;
        #{$omega}: 2.5%;
        top: 6px;
        width: 36px;
        height: 36px;
        border: 0;
        margin: 0;
        background: url(../imgs/large_header_submit.png) center center no-repeat;
        background-size: 75% auto;
    }

    .atYourService_box h3, .officeLookup a strong, .socialMedia_box h3, .latestDonations h3 {
        font-size: 31px;
    }

    .atYourService_box_phone strong, .atYourService_box_mail strong {
        font: bold 23px/19px Rubik;
    }

    .atYourService_box_phone strong {
        margin-bottom: 9px;
    }

    .atYourService_box_mail strong {
        margin-bottom: 5px;
    }

    .atYourService_box_phone span, .atYourService_box_mail span {
        font: normal 24px/19px Rubik;
    }

    .atYourService_box_mail span {
        font-size: 18px;
    }

    .atYourService_box_phone img, .atYourService_box_mail img {
        display: block;
    }

    .sideBanner {
        display: none;
    }

    .innerContent {
        padding: 25px 15px 0px;
    }

    .innerPage {
        float: none;
        width: auto;
        padding: 25px 0px 0px;
    }

    .inner_LeftCol {
        float: none;
        width: auto;
        padding: 25px 0px 0px;
    }

    .footerHolder {
        padding: 45px 0px 0px 0px;
    }

    .greyFrame_section UL.loginForm LI label {
        width: 150px;
    }

    .passwordChkList {
        #{$alpha}: 340px;
    }

    .detailsApproval_body P {
        min-height: 100px;
    }

    .clubDonation {
        padding: 15px 0px 15px 0px;
    }

    .innerContent .clubDonation ul {
        margin: side-values(0px 0px 0px -2%);
    }

    .clubDonation ul li.clubDonation_item {
        width: 23%;
        padding: side-values(0px 0% 2% 2%);
    }

    .socialMedia_box h3, .latestDonations h3 {
        line-height: normal;
    }

    .innerContent .socialMedia_box ul {
        overflow: hidden;
    }

    .socialMedia_box ul li {
        float: #{$alpha};
        width: 50%;
    }
}

@media screen and (max-width: 640px) {
    .headerLogo {
        width: auto;
        padding: 16px 0 0;
    }
}

@media screen and (max-width: 568px) {
    .headerIcon {
        height: 73px;
        /* padding: 24px 15px 0px; */
        margin-top: 7px;
    }

    .headerIcon a img {
        width: 38px;
        height: 28px;
    }

    .headerIcon a span {
        font: 21px Rubik;
        line-height: 28px;
    }

    .headerUpdates {
        height: 67px;
        padding: 23px 15px 0px;
    }

    .headerUpdates a {
        font: normal 21px Rubik;
        padding: 28px 0px 0px 0px;
        background-size: 35px auto;
    }

    .headerSearch {
        height: 71px;
        padding: 19px 15px 0px;
    }

    .headerSearch a {
        font: normal 21px Rubik;
        padding: 32px 0px 0px 0px;
        background-size: 35px auto;
    }

    .headerMenu_box {
        /* #{$omega}: 15px; */
        top: 116px;
        width: 100%;
    }

    .passwordChkList {
        #{$alpha}: 150px;
        top: 42px;
        width: 130px;
        font: normal 13px/16px Rubik;
    }

    .passwordChkList span {
        -ms-transform: rotate(-90deg);
        -webkit-transform: rotate(-90deg);
        transform: rotate(-90deg);
        #{$alpha}: auto;
        #{$omega}: 20px;
        top: -15px;
    }

    .innerContent .clubDonation ul {
        margin: side-values(0px 0px 0px -2.33%);
    }

    .clubDonation ul li.clubDonation_item {
        width: 31%;
        padding: side-values(0px 0 2.33% 2.33%);
    }
}

@media screen and (max-width: 480px) {
    .header {
        height: 80px;
        /*padding: side-values(31px 0px 0px 15px);*/
    }

    .headerLogo {
        width: 130px;
        padding: 12px 0px 0px 0px;
    }

    .headerIcon {
        height: 58px;
        padding: 10px 15px 0px;
    }

    .headerUpdates {
        height: 55px;
        padding: 13px 15px 0px;
    }

    .headerSearch {
        height: 59px;
        padding: 9px 15px 0px;
    }

    .headerSearch a {
        padding: 32px 0px 0px 0px;
    }

    .headerLang {
        height: 34px;
    }

    .headerLang ul.textLang_ul {
        padding: 2px 0px 0px 20px;
    }

    .headerLang ul.textLang_ul li {
        padding-#{$alpha}: 10px;
    }

    .headerLang ul.textLang_ul li a {
        display: inline-block;
        font: bold 17px/17px Rubik;
        padding: 5px;
    }

    .minHeader {
        padding: 30px 15px 0px;
    }

    .headerUpdates .headerUpdates_logout {
        #{$alpha}: 9px;
        padding: 0px;
    }

    .headerMenu_box {
        /* #{$omega}: 15px; */
        top: 101px;
    }

    .innerContent {
        padding: 25px 15px 0px;
    }

    .innerContent.grey-upgrade .innerContent {
        padding: 10px;
    }

    .innerPage {
        padding: 0;
    }

    .greyFrame_section P {
        padding: 0 0 7px;
    }

    .greyFrame_section UL LI label {
        display: block;
        width: auto;
        padding: 0px 0px 4px 0px;
    }

    .greyFrame_section UL LI label span {
        display: inline;
    }

    .greyFrame_section UL.loginForm LI label {
        width: auto;
    }

    .greyFrame_section UL LI {
        padding: 0px 0px 10px;
    }

    .greyFrame_section UL LI.greyFrame_formQuestion {
        padding: 0px 0px 8px 0px;
    }

    .greyFrame_section UL LI.greyFrame_formAnswer {
        padding: 0px 0px 10px 0px;
    }

    .greyFrame_section span.comboHolder {
        width: 100%;
    }

    .greyFrame_section UL LI input {
        width: 98%;
    }

    .greyFrame_section UL LI input.smallText {
        width: 56px;
    }

    .greyFrame_section UL LI input.phonePref {
        width: 67px;
    }

    .greyFrame_section span.comboHolder_small {
        width: 60px;
    }

    .greyFrame_section UL LI input.phoneText {
        width: 80%;
    }

    .greyFrame_bottom {
        padding: 0px 0px 20px 0px;
    }

    .phoneComments {
        padding: 0;
    }

    .phoneComments span:nth-child(1) {
        width: 80%;
    }

    .phoneComments span:nth-child(2) {
        width: 60px;
    }

    .greyFrame_sectionTitle {
        font: bold 21px/23px Rubik;
        padding: 0 0 15px;
    }

    .innerContent .greyFrame_section UL.loginForm {
        padding: 0px 0px 12px 0px;
    }

    .errorNote {
        margin: 4px 0px 0px 0px;
    }

    .footerHolder {
        padding: 20px 0 0;
    }

    .passwordChkList {
        #{$alpha}: auto;
        #{$omega}: 7px;
        top: 62px;
    }

    .detailsApproval_title {
        background-size: 60px auto;
        background-position: #{$alpha} 8px;
        margin-bottom: 4px;
        font: bold 21px/22px Rubik;
    }

    .detailsApproval_title strong {
        padding: side-values(0px 15px 0px 65px);
    }

    .detailsApproval_titleBlocked {
        background-position: #{$alpha} center;
    }

    .detailsApproval_titleBlocked strong {
        padding: side-values(0px 15px 0px 55px);
    }

    .greyFrame_section_bigToggle {
        padding-bottom: 20px;
    }

    .greyFrame_section_bigToggle .greyFrame_toggle {
        width: 100%;
        height: 40px;
    }

    .greyFrame_section_bigToggle .greyFrame_toggle a {
        font: 14px/40px Rubik;
        height: 40px;
    }

    .greyFrame_dropDown {
        width: 100%;
    }

    .greyFrame_dropDown_drawer {
        width: 96.3%;
    }
}

@media screen and (max-width: 425px) {
    .headerLogo {
        width: 120px;
        padding: 17px 0px 0px 0px;
    }

    .headerMenu_box {
        margin-top: 10px;
    }

    .headerIcon {
        height: 52px;
        padding: 11px 7px 0px;
    }

    .headerIcon a img {
        width: 30px;
        height: auto;
    }

    .headerIcon a span {
        font: 18px/27px Rubik;
        /* height: 10px; */
        /* width: 40px; */
        /* padding: 0px; */
        height: auto;
    }

    .headerUpdates {
        height: 55px;
        padding: 13px 12px 0px;
    }

    .headerUpdates a {
        font: normal 18px Rubik;
        padding: 24px 0px 0px 0px;
        background-size: 30px auto;
    }

    .headerSearch {
        height: 57px;
        padding: 15px 12px 0px;
    }

    .headerSearch a {
        font: normal 18px Rubik;
        padding: 27px 0px 0px 0px;
        background-size: 30px auto;
    }

    .atYourService_box_phone strong, .atYourService_box_mail strong {
        font: bold 21px/19px Rubik;
    }

    .atYourService_box_phone span, .atYourService_box_mail span {
        font: normal 21px/19px Rubik;
    }

    .atYourService_box_mail span {
        font-size: 17px;
    }

    .greyFrame_section UL LI input.phoneText {
        width: 77%;
    }

    .phoneComments span:nth-child(1) {
        width: 77%;
    }

    .headerLang {
        height: 60px;
        margin-#{$omega}: 0px;
    }

    .header {
        /*padding-top: 60px;*/
    }

    .headerLang ul.textLang_ul {
        padding: 29px 0px 0px 20px;
        /* float: #{$alpha}; */
        z-index: 1;
        position: relative;
    }

    .headerUpdates .headerUpdates_logout {
        text-align: #{$alpha};
    }

    .headerUpdates .headerUpdates_logout .loginDetails {
        display: block;
        padding: 0px;
    }

    .headerUpdates .headerUpdates_logout a {
        display: block;
        text-align: #{$alpha};
    }
}

@media screen and (max-width: 375px) {
    .header {
        height: 70px;
        /*padding: side-values(60px 0px 0px 15px);*/
    }

    .minHeader {
        padding: 30px 15px 0px;
    }

    .headerLogo {
        width: 100px;
        padding: 17px 0px 0px 0px;
    }

    .headerIcon {
        height: 48px;
        padding: 10px 12px 0px;
    }

    .headerIcon a img {
        width: 25px;
        height: auto;
    }

    .headerIcon a span {
        font: 14px Rubik;
        padding-top: 4px;
        height: 3px;
    }

    .headerUpdates {
        height: 45px;
        padding: 13px 3px 0px;
    }

    .headerUpdates a {
        font: normal 14px Rubik;
        padding: 24px 0px 0px 0px;
        background-size: 25px auto;
    }

    .headerSearch {
        height: 47px;
        /* padding: 11px 12px 0px; */
    }

    .headerSearch a {
        font: normal 15px Rubik;
        padding: 26px 0px 0px 0px;
        background-size: 30px auto;
    }

    .headerMenu_box {
        /* #{$omega}: 12px; */
        top: 95px;
    }

    .atYourService_box_phone strong {
        margin-bottom: 5px;
    }

    .atYourService_box_mail strong {
        margin-bottom: 2px;
    }

    .greyFrame_section UL LI input.phoneText {
        width: 75%;
    }

    .phoneComments span:nth-child(1) {
        width: 75%;
    }

    .innerContent .clubDonation ul {
        margin: side-values(0px 0px 0px -2.5%);
    }

    .clubDonation ul li.clubDonation_item {
        width: 47.5%;
        padding: side-values(0px 0px 2.5% 2.5%);
    }

    .greyFrame_dropDown_drawer {
        width: 96%;
    }
}

@media screen and (max-width: 320px) {
    .headerIcon {
        height: 48px;
        padding: 10px 0px 0px;
    }

    .headerUpdates {
        height: 45px;
        padding: 13px 10px 0px;
    }

    .headerSearch {
        height: 47px;
        padding: 11px 10px 0px;
    }

    .greyFrame_section UL LI input.phoneText {
        width: 72%;
    }

    .phoneComments span:nth-child(1) {
        width: 72%;
    }

    .greyFrame_dropDown_drawer {
        width: 93.5%;
        padding: 7px 3% 4px;
    }
}

@media only screen and (min-device-width: 719px) and (max-device-width: 721px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
    .headerLogo {
        width: 100px;
        padding: 17px 0px 0px 0px;
    }
}

@media only screen and (min-device-width: 1279px) and (max-device-width: 1281px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
    .headerLogo {
        width: auto !important;
        padding: 16px 0px 0px 0px;
    }
}
