.mfe-card-alert {
    position: relative;
    background: url(../imgs/otp/otp_04.png) center top no-repeat;
    background-size: cover;
    height: 0;
    padding-top: 84%;
    width: 100%;
    cursor: pointer;
    .mfe-inner-fix {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
    } 
  
    .h2 {
        margin-bottom: 50%;
        top: 30px;
        position: relative;
    } 
    .h4 {
        padding: 0 80px;
        @media (min-width: $grid-float-breakpoint) { 
            padding: 0 100px;
            font-size: 13px;
        }
    }
    .mfe-alert-arrow {
        #{$left}: 20px;
        top: 30px;
        position: absolute;
        background: url(../imgs/#{$left}-arrow1.png) no-repeat;
        width: 34px;
        height: 23px;
    }


}
 .mfe-card-alert .h2 {
    margin-bottom: 50%;
    top: 22px;
    position: relative; }
 h4, .h4 {
  font-size: 14px; }
.mfe-page-title {
    font-size: 40px;
    color: $brand-primary;
}

.green-v{
        vertical-align: middle;
    width: 25px;
    padding-left: 7px;
}
.member_id{
    font-size: 25px;
    margin-top: 4px;
    padding-right: 29px;
}
.forgot_member_id{
    font-size: 19px;
}
html .mfe-stage-card.panel {
    margin: 0;
    padding: 0;
    min-height: 350px;
    .panel-body {
        .h1 {
            margin: 0;
            padding:  0  0 20px 0;
        }

        // padding:10px;
        padding: side-values(5px 40px 5px 5px);
        @media (min-width:$grid-float-breakpoint) {
            padding: side-values(34px 90px 20px 60px);
        } 
    }
      .mfe-legend{
font-size:20px;
    padding-bottom: 10px;
margin-top:-20px;
    }

    fieldset {
        padding-top: 20px;
    }
}

.mfe-stage-otp {
    .mfe-home-box-card {


        .media-heading {
            color: $brand-primary;
            font-size: $font-size-h4;
            display: block;
            line-height: normal;
            min-height: 65px;
            .mfe-home-box-link {
                padding: 10px 0;
            }
        }
    }
    .mfe-stage-otp-inner {
        @media (min-width: $grid-float-breakpoint) {
            background: transparent url(../imgs/otp/cards_#{$dir}.png) #{$left} 74px no-repeat;
        }
        .container-fluid {
            @media (min-width: $grid-float-breakpoint) {
                padding-top: 60px;
                min-height: 856px;
                background: transparent url(../imgs/otp/coffee-1.png) #{$right} -200px no-repeat;
            }
        }
    }
    background: transparent url(../imgs/otp/background-1.jpg) center center fixed no-repeat;
    background-size: cover;
    .mfe-card {
        .nav-pills {
            li {
                //padding: 10px 0px;
                // margin-bottom: 20px;
                a {
                    margin-bottom: 0;
                    border: solid 1px #c7c7c7;
                    padding: 5px 0px;
                    font-size: 14px;
                }
                &.active {
                    a {
                        border: solid 1px $brand-primary;
                    }
                }
            }
        }
    }
}
.mfe-card-alert .h4{
          padding: 0 68px;
    color: #00003b;
    font-size: 13px;
    font-weight: bold;
}


   @media (min-width: 768px) {
      .mfe-card-alert .h4 {
        padding: 0 141px;
        color: #00003b;
    padding-top: 25px;
        font-size: 13px; } }

 @media (min-width: 768px) {
      .mfe-card.panel {
              padding: 10px 21px;
              margin-top:40px; } }
.mfe-footer-links {
    ul.mfe-footer-links-group {
        margin: 0 auto;
        display: table;
        width: 100%;
        list-style-type: none;
        text-align: center;
        padding: 80px 0 0 0;
        margin: 0;
        li {
            display: table-cell;
            vertical-align: top;
            text-align: center;
            min-width: 120px;
            padding: 0 10px;
            @media (max-width: $grid-float-breakpoint-max) {
                display: inline-block;
                min-width: 50%;

            }
            a {
                text-align: center;
            }
            .mfe-footer-link-span {
                font-size: $font-size-h4;
                line-height: normal;
                padding: 0 3px;
            } 
            .mfe-footer-image-span {
                height: 70px;
                width: 90px;
                display: block;
                margin: 0 auto;
                line-height: 70px;
                img {
                    max-height: 60px;
                    max-width: 65px;
                }
            }
        }
    }
}