﻿
    <div class="panel panel-default panel-danger">
        <!-- Default panel contents -->
        <div class="panel-heading">DEMO HELPER</div>

        <ul class="list-group">
            <li class="list-group-item"><a href="index_ltr.html" >en</a></li>
            <li class="list-group-item"><a href="index_rtl.html">he</a></li>
          <li class="list-group-item"><a href="#" data-obj='{"partQuery":".js-mfe-main-part", "partUrl":"matmid/matmid-home"}'>Home matmid</a></li>
            <li class="list-group-item"><a href="#" data-obj='{ "partQuery": ".js-mfe-main-part", "partUrl": "otp/page-home-otp", "child": [{ "partQuery": ".js-mfe-home-banners", "partUrl": "otp/part-home-boxes" }, { "partQuery": ".js-mfe-otp-home-card", "partUrl": "otp/card-home1" }, { "partQuery": ".js-mfe-footer-links", "partUrl": "otp/home-opt-footer-links" }] }'>Home otp</a></li>
            <li class="list-group-item"><a href="#" data-obj='{ "partQuery": ".js-mfe-otp-home-card", "partUrl": "otp/card-home2" }'>link2</a></li>
            <li class="list-group-item"><a href="#" data-obj='{ "partQuery": ".js-mfe-home-banners", "partUrl": "otp/part-home-boxes","partJson":"otp/part-home-boxes-2" }'>one box</a></li>
            <li class="list-group-item"><a href="#" data-obj='{ "partQuery": ".js-mfe-card-back", "partUrl": "otp/card-alert-1" }'>alert1</a></li>

        </ul>
        </div>

